/* *********************************************************************** 
 * definitions for feedback animations
 * @ called with i. e.: animation: shake 1s infinite;
 */
@keyframes shake {	/* on errors */
  10%, 90% { margin-left: -1px; margin-right: -1px; } 
  20%, 80% { margin-left: 2px; margin-right: -2px; }
  30%, 50%, 70% { margin-left: -3px; margin-right: 3px; }
  40%, 60% { margin-left: 3px; margin-right: -3px; }
}

@keyframes buttonfocus {
   0% { box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.7); }
   100% { box-shadow: 0 0 0 5px rgba(0, 0, 0, 0); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes tooltipp {
   0% { opacity: 0; }
   5% { opacity: 0.99; }
   100% { opacity: 1; } 
}

@keyframes fadeout {
  from { opacity: 1; }
  to	 { opacity: 0; }
}

@keyframes halfout {
  from { opacity: 0.5; }
  to	 { opacity: 0; }
}

@keyframes grow {
  /* font-size-adjust is needed specific for FF, it defines a minimum size */
  from { max-height: 0px; }
  to	 { max-height: 2000px; }
}

@keyframes shrink {
  from { max-height: 350px; opacity: 0.8; }
  to	 { max-height: 0;  opacity: 0.1; }
}

@keyframes blink {  
  50% { opacity: 0; }
}

@keyframes gradient {
  0% { background-position: 0% 50% }
  100% { background-position: 50% 100% }
}

@keyframes spin { 
   from { transform: rotate( 0deg ); }
   to { transform: rotate( 360deg ); }
}

@keyframes activated {
  from { background-position: 0% 100%; }
  to   { background-position: 100% 100%; }
}

/* some important global settings */
.uLhasScript input:invalid { box-shadow: none; }
.uLhasScript input:valid { box-shadow: none; }

/* eliminates stupid bouncing and totaly wrong scaling on iOS */
html {
   overflow: hidden;
   height: 100%;
   width: 100%;
   position: fixed;
}

body {
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100%;
   position: relative;
   box-sizing: border-box;
   font-size: 62.5%;  /* 62.5% zentrale Größe: 0.1em sind so genau 1px */
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-size: 1.0em;
   line-height: 1.3em;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   text-align: left;
   cursor: pointer;
   -webkit-text-size-adjust: none; /* just because its nasty */
}
* { box-sizing: border-box; }

h1, h2, h3, h4, h5, p, ul, ol, li, span.uLpara {
   margin: 0;
   padding: 0;
}
span.uLpara { display: block; }

div, span, form {
   font-size: 1em;
   margin: 0;
   padding: 0;
}
form, fieldset, legend {   /* set default */
   background-color: transparent;
}

ul, ol {
  margin-top: -0.9em;
  margin-bottom: 0.6em;  
}
li ul { margin-top: 0!important; }
/*
// this o.e. must be possible caused on accessibility reasons: color is only allowed
// as secondary coding!!! But it is forbidden on privacy restrictions... very stupid.
a:visited {
   text-decoration-style: dotted;
}
*/
/* not in .uLmainnavigation!! */
.uLmainContent a:focus, .uLmainContent a:hover
, .uLheader a:focus, .uLheader a:hover
, .uLcontentinfo a:focus, .uLcontentinfo a:hover
, .uLarticle a:focus, .uLarticle a:hover {
   text-decoration: none;
   background: linear-gradient( 90deg, transparent 0%, currentColor 100% );   
   background-size: 50% 1px;
   background-position: 0% 100%;
   background-repeat: repeat-x;
}
.uLmainContent a.uLjumper
, .uLheader a.uLjumper
, .uLcontentinfo a.uLjumper
, .uLarticle a.uLjumper {
   text-decoration: none;
   background: linear-gradient( 90deg, transparent 0%, currentColor 100% );   
   background-repeat: repeat-x;
   background-size: 50% 1px;
   animation-name: activated;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.uLdesign {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-image: none;
   background-repeat: repeat-y;
   background-position: left top;
}
.uLdesign span {
   display: block;
   width:100%;
   height:100%;
   background-image: none;
   background-repeat: repeat-y!important;
   background-position: right top!important;
}
.uLdesign span span {
   display: block;
   width:100%;
   height:100%;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: left top!important;
}
.uLdesign span span span {
   display: block;
   width:100%;
   height:100%;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: right top!important;
}
.uLdesign span span span span {
   display: block;
   width:100%;
   height:100%;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: left bottom!important;
}
.uLdesign span span span span span {
   display: block;
   width:100%;
   height:100%;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: right bottom!important;
}

.uLlandmark {
   position: relative;
   font-size: 1em;
   flex: 1;    /* must be 1 to stretch it to hole screen */
}
.uLlandmark:after {  /* to realize a margin-bottom on landmarks */
   content: '';
   display: block;
   position: absolute;
   top: 100%;
   height: 0;
   left: 0;
   width: 100%;
}
.uLlayout {
   display: flex;
   flex: 0 0 auto!important;  /* WORKAROUND: expand height on safari */
   align-items: stretch;
   scroll-behavior: smooth; /* <--- */
}

.uLheader {
   flex: none!important;
   order: -1;
}
.uLheader a { text-decoration:none; }

.uLheader .uLcopyright {
   font-size: 0.8em;
   line-height: 0.8em;
   vertical-align:top;
   position: absolute;
   top: 0.8em;
   right: 16em;
}

.uLmainContent {
   order: 2;
   min-width: 75%;
}

.uLmainnavigation {
   order: 1;
   flex: 0 0;
   z-index: 1;
   flex-basis: 10em;
}

.uLcontentinfo { /* at least its a footer, but landmarks don't call it so... */
   order: 1;
   position: sticky; /* well, it works only correkt in old versions! funny?! */
   position: -moz-sticky;
   position: -webkit-sticky; /* Safari and Chrome, the new standard misses ;-) */
   overflow: hidden;
}

.uLarticle {
   order: 3;
   flex: 0 0;
   flex-basis: 10em;
   max-height: calc(100vh);
   overflow-y: auto;
}

/* *************************************************************************
 * definitions for buttons
 * ******************************/

.uLbuttonRow {
   display: block;
   text-align: left;
   clear: both;
   padding: 0.9em 0 0 1.2em;
   margin: 0.9em 0 0 0;
   min-height: 4.4em;
}

.uLbuttonRow.uLdisabled:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background: repeating-linear-gradient(
      45deg,
      #bbbbbb,
      #333333 10px,
      #888888 10px
  );
}
.uLbuttonRow .uLbutton {
  display:inline-block;
}

.uLmodal form {
   margin: 0 20px 0 0;
}
.uLmodal form > fieldset {
   margin: 1.0em;
}
.uLmodal .uLbuttonRow {
   position: sticky; /* well, it works only correkt in old versions! funny?! */
   position: -moz-sticky;
   position: -webkit-sticky; /* Safari and Chrome, new standard misses ;-) */
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 3;
}

/* don't use Buttons on singleSelect... modals */
form.uLsingleSelect, form.uLunit, form.uLworld {
   margin-bottom: 0;
}
form.uLsingleSelect .uLbuttonRow
, form.uLunit .uLbuttonRow
, form.uLworld .uLbuttonRow {
  display: none;
}
form.uLtime {
   width: 53em;
   margin-left: 1.0em;
}
.uLmainnavigation strong { /* don't show accessibility section numbers */
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
   width:0px;
   height:0px;
   overflow: hidden;
}

.uLmainnavigation ul {
   font-size: 1em;
   list-style: none;
   margin: 0;
   padding: 0;
   border-width: 0;
   line-height: 1em;
}
.uLmainnavigation>ul,
.uLmainnavigation>ul>ul,
.uLmainnavigation>ul>ul>ul,
.uLmainnavigation>ul>ul>ul>ul {
   list-style: none;
}
.uLmainnavigation li {
   margin: 0;
   padding: 0;
   display: inline;      /* WORKAROUND: IE<7, Whitespace Bug */
}

/* classes for buttons **********************************************/

.uLmainnavigation a.uLbutton
, .uLmainnavigation a.uLactive
, .uLbutton
, .uLbutton input {
   display: inline-block;           /* hold them floating */
   text-align: left; /* not changeable default in input on some browsers! */
   font-size: 1.0em;
   background-color: transparent;
   text-decoration: none;
   vertical-align: top;
   padding: 0;
   border-width: 0;
   word-wrap: break-word;
   hyphens: auto;
}

.uLbutton span span span span span input { width: 100%; }
/* no link preview symbol on buttons */
a.uLbutton:after { display:none!important; }

button.uLbutton, a.uLbutton {
   display: inline-block;
   background-image: none;
   background-repeat: repeat-y;
   background-position: left top;
}
button.uLbutton>span, a.uLbutton>span {
   display: block;
   margin: 0;
   background-image: none;
   background-repeat: repeat-y!important;
   background-position: right top;
}
button.uLbutton>span>span, a.uLbutton>span>span {
   display: block;
   margin: 0;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: left top;
}
button.uLbutton>span>span>span, a.uLbutton>span>span>span {
   display: block;
   margin: 0;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: right top;
}
button.uLbutton>span>span>span>span, a.uLbutton>span>span>span>span {
   display: block;
   margin: 0;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: left bottom;
}
button.uLbutton>span>span>span>span>span, a.uLbutton>span>span>span>span>span {
   display: block;
   margin: 0;
   background-image: none;
   background-repeat: no-repeat!important;
   background-position: right bottom;
}
button.uLbutton>span>span>span>span>span>span
, a.uLbutton>span>span>span>span>span>span {
   display: block;
   margin: 0;
}

.uLmainnavigation a.uLbutton.uLactive:hover>span>span>span>span>span>span
, .uLmainnavigation a.uLbutton.uLactive:active>span>span>span>span>span>span
, .uLmainnavigation a.uLbutton.uLactive:focus>span>span>span>span>span>span {
   /* prevent active navigation from hover effects */
   display: block;
   box-shadow: none!important;
}
.uLmainnavigation a.uLbutton>span>span>span>span>span>span
, .uLmainnavigation a.uLbutton:hover>span>span>span>span>span>span
, .uLmainnavigation a.uLbutton:active>span>span>span>span>span>span
, .uLmainnavigation a.uLbutton:focus>span>span>span>span>span>span
, button.uLbutton.uLactive>span>span>span>span>span>span
, button.uLbutton.uLfocused>span>span>span>span>span>span
, button.uLbutton.uLdisabled>span>span>span>span>span>span
, button.uLbutton:hover>span>span>span>span>span>span
, button.uLbutton:active>span>span>span>span>span>span
, button.uLbutton:focus>span>span>span>span>span>span
, button.uLbutton>span>span>span>span>span>span {
   /* prevent form inheritance and therefore stupid effects */
   border: none!important;
   box-shadow: none!important;
   margin: 0!important;
   background: none!important;
}

button.uLbutton>span>span>span>span>span>span:after {
   position: absolute;
   margin-top: 0.4em;
   margin-left: 0;
   content: "✇";
   font-size: 1.5em;
   display: none;
}
button.uLbutton.uLdisabled:after { content: none; }

.uLmainnavigation a.uLbutton.uLactive:hover
, .uLmainnavigation a.uLbutton.uLactive:active
, .uLmainnavigation a.uLbutton.uLactive:focus {
   box-shadow: none!important;
}

button.uLbutton:active>span>span>span>span>span>span:after
, button.uLbutton.uLactive>span>span>span>span>span>span:after {
   transform-origin: 0.24em 50%;
   animation: spin 2s linear infinite;
   display: inline-block;
}

.uLbutton input {
   background:none;
   background-color:transparent !important;
}
.uLbutton input {
   text-align: center!important; /* not changeable default on some browsers! */
   padding-left: 0!important;
   margin-left: -0.8em;
}

/* some corrections for the doubleButton view: relative sizing and position as
   well as disable the 'inside' border attributes */

.uLdoublebutton {
   margin-bottom: 1.1em;
}
.uLdoublebutton .uLbutton {
   width: 100%!important;
}

.uLdoublebutton .uLbutton>span>span>span>span>span {
   width: 100%!important;
   text-align: center;
}
.uLdoublebutton .uLbutton.uLtop>span>span>span>span>span>span {
   background-image: none;
}
.uLdoublebutton .uLbutton.uLtop {
   box-shadow: none!important;
   border-bottom-left-radius: 0!important;
   border-bottom-right-radius: 0!important;
   border-bottom-width: 0!important;
   margin-bottom: 0.1em!important;
   pointer-events: none;   /* well, not all browsers... */
}
.uLdoublebutton .uLbutton.uLleft
, .uLdoublebutton .uLbutton.uLright {
   border-top-left-radius: 0!important;
   border-top-right-radius: 0!important;
   border-top-width: 0!important;
   margin-right: 0!important;
}
.uLdoublebutton .uLbutton.uLleft {
   border-bottom-right-radius: 0!important;
   border-right-width: 0!important;
}
.uLdoublebutton .uLbutton.uLright {
   border-bottom-left-radius: 0!important;
   border-left-width: 0!important;
}
.uLdoublebutton .uLbutton.uLleft>span>span>span>span>span
, .uLdoublebutton .uLbutton.uLright>span>span>span>span>span {
   padding: 0.5em 0 0.7em 0!important;
   margin: 0 auto;
}

.uLdoublebutton .uLbutton.uLleft b
, .uLdoublebutton .uLbutton.uLright b {
   margin: 0!important;
   padding: 0!important;
   display: inline-block;
   margin-top: -1.1em!important;
   font-size: 1.6em;
   background-color: transparent!important;
}
.uLdoublebutton .uLbutton.uLtop>span>span>span>span
, .uLdoublebutton .uLbutton.uLtop>span>span>span>span>span
, .uLdoublebutton .uLbutton.uLleft>span
, .uLdoublebutton .uLbutton.uLleft>span>span
, .uLdoublebutton .uLbutton.uLleft>span>span>span
, .uLdoublebutton .uLbutton.uLleft>span>span>span>span>span
, .uLdoublebutton .uLbutton.uLright>span>span
, .uLdoublebutton .uLbutton.uLright>span>span>span {
  background-image: none;
}
.uLdoublebutton .uLbutton.uLright {
   background-position: -50px top!important;
}
.uLdoublebutton .uLbutton.uLright>span>span>span>span {
   background-position: -50px bottom!important;
}

/* **********************************************************************
 * definitions for modal dialogs
 * ******************************/
.uLmodal.uLshow:after {
   content: '';
   position: fixed;
   text-align: center;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   border: none;
}
.uLmodal.uLfree.uLshow:after {
   content: none;
}
.uLmodal.uLshow {
  display: block!important;
}
.uLmodal.uLopen { animation: fadein 2s 1; }
.uLmodal.uLclose { animation: fadeout 2s 1; }

.uLmodal {
   font-size: 1em;
   position:fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: auto;
   height: auto;
   display:none;
   z-index: 100;
}
.uLmodal >div {
   position: relative;
   z-index: 1;
}
/* This solves a very basic css problem: a dynamic sized modal dialog */
/* with appearing scrollbar, if maximum width or height is reached    */
/* pending on viewport dimension. Also minimum dimensions are defined */
/* pending on viewport and window scaling.                            */
/* REMARK: Any sizing operation must be done on .uLscale container!   */
.uLmodal .uLscale {
   display: inline-block;
   position: relative;
   min-height: calc(15vh);
   min-width: calc(20vw);
   max-height: calc(100vh - 8em);
   max-width: calc(100vw - 4em);
   overflow: auto;
   margin: 0!important;
   padding: 0!important;
   overflow-x: hidden;
}
.uLmodal .uLscale form { margin-right: 0!important; }

.uLmodal .uLcloser,
.uLmodal .uLsizer {
   position:absolute;
   font-size: 1em;
   right: 0;
   width: 1.8em!important;
   height: 1.8em!important;
   overflow: hidden;
   border: solid 1px black;
}

.uLmodal .uLcloser {
   top: 0;
   z-index:101;
}
.uLmodal .uLsizer  {
   bottom: 0;
   z-index:101;
}

.uLmodal .uLcloser:after
, .uLmodal .uLsizer:after {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Lucida Console',Monaco,monospace;
  color: #333333;
  text-align: center;
  display: inline-block;
  font-size: 2.0em;
  padding: 0.2em 0.1em 0 0;
}
.uLmodal .uLcloser:after {
  content: '\2716';
}
.uLmodal .uLsizer:after {
  content: '\25F2';
  font-weight: bold;
}
.uLmodal .uLdragger {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 1.6em;
   padding-top: 0.2em;
   text-align:center;
   cursor:move;
   background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAJpaWn/SeUwMDAAACbFCMVxlCx0AAAAAElFTkSuQmCC) repeat;
}
.uLmodal .uLdragger + .uLscale {
   margin-top: 2.0em!important;
}
.uLmodal .uLdragger span {
   font-size:1.4em;
   font-weight:bold;
   padding: 0 0.7em;
   background-color: #ffffff;
   opacity: 0.8;
   border-radius: 0.3em;
}

.uLmodal form[data-ul$="dynamicExtend"]>fieldset>div,
.uLmodal form[data-ul$="Select"]>fieldset>div,
.uLmodal form[data-ul="unit"]>fieldset>div,
.uLmodal form[data-ul="world"]>fieldset>div {
   overflow: hidden;
   padding-left: 0.3em; /* needed not to cut active radiobutton or checkbox */
   vertical-align: top;
}
.uLmodal form[data-ul$="dynamicExtend"]>fieldset>div:after,
.uLmodal form[data-ul$="Select"]>fieldset>div:after,
.uLmodal form[data-ul="unit"]>fieldset>div:after,
.uLmodal form[data-ul="world"]>fieldset>div:after { /* for fadeout of text */
   content: "";
   position: absolute;
   width: 2.5em;
   height: 100%;
   top: 0;
   right: 0;
}
.uLmodal form[data-ul$="dynamicExtend"]>fieldset>div h2,
.uLmodal form[data-ul$="dynamicExtend"]>fieldset>div div,
.uLmodal form[data-ul$="Select"]>fieldset>div h2,
.uLmodal form[data-ul$="Select"]>fieldset>div div,
.uLmodal form[data-ul="unit"]>fieldset>div h2,
.uLmodal form[data-ul="unit"]>fieldset>div div,
.uLmodal form[data-ul="world"]>fieldset>div h2,
.uLmodal form[data-ul="world"]>fieldset>div div {
   white-space: nowrap;
   margin-bottom: 3px;
   width: auto;
}
.uLmodal.uLerror .uLcontent
, .uLmodal.uLstatus .uLcontent
, .uLmodal.uLhint .uLcontent
, .uLmodal.uLsuccess .uLcontent {
   margin-bottom: 2.9em;
}

.uLmodal >div:before {
   position: absolute;
   display: block;
   z-index: 2;
}

.uLmodal.uLprompt h1
, .uLmodal.uLconfirm h1
, .uLmodal.uLalert h1
, .uLerror h1
, .uLmodal.uLstatus h1
, .uLmodal.uLhint h1
, .uLmodal.uLsuccess h1 {
   font-size: 1.2em;
  margin:0.3em 0.5em 0.3em;
}
.uLmodal.uLprompt h2
, .uLmodal.uLconfirm h2
, .uLmodal.uLalert h2
, .uLmodal.uLerror h2
, .uLmodal.uLstatus h2
, .uLmodal.uLhint h2
, .uLmodal.uLsuccess h2
, .uLmodal.uLerror h3
, .uLmodal.uLstatus h3
, .uLmodal.uLhint h3
, .uLmodal.uLsuccess h3 {
   font-size: 1.0em;
}

.uLmodal.uLprompt fieldset {
   padding-right: 0.8em!important;
}
.uLmodal.uLprompt fieldset > div {
   margin-bottom: 0.8em!important;
}
.uLmodal.uLprompt input[type="radio"] + label {
   padding: 0 0.8em 0 1.2em!important;
}

.uLmodal a.uLlocked {
   text-decoration: none;
   color: #666666;
   float:right;
   padding-right: 2em;
}

.uLmodal.uLerror .uLcontent a {
   color: inherit;
   display: inline;
   text-decoration: none;
}

.uLmodal .uLcontent {
   min-height: 5.5em;
}
.uLmodal .uLcontent p:before {
   font-size: 1.2em;
   font-weight: bold;
   margin-right: 0.3em;
}
.uLmodal .uLcontent p.uLerror:before {
   content: "!";
   color: #ff0000;
}
.uLmodal .uLcontent p.uLsuccess:before {
   content: "\2714";
   color: #b3ff19;
}
.uLmodal .uLcontent p.uLhint:before {
   content: "?";
   color: #FFC868;
}

.uLcountdown {
   font-size: 2em;
   position: absolute;
   bottom: 0.4em;
   left: 45%;
   width: 1.5em;
   height: 1.5em;
   padding: 0.1em 0 0 0.4em;
   border-radius: 1.5em;
   color: #222222;
   background-color: #eeeeee;
   box-shadow: inset 0 0 0 0.3em #888888;
   transition: box-shadow 1.0s ease-in-out;
   z-index: 5;
}

/* ***********************************************************************
 * definitions for special use
 * ******************************/

div.uLlistSelect {
  position: absolute;
  background-color: #ffffff;
  margin-top: 0.4em;
  padding: 0.3em;
  border: 2px solid #666666;
  box-shadow: 6px 6px 6px #666666;
  z-index:101;
  max-height: 12em;
  overflow-x: hidden;
  overflow-y: auto;
}
div.uLlistSelect a {
  text-decoration: none;
  display: block;
}

a[disabled]{
   pointer-events: none;
   opacity: 0.6;
}

td.uLleft { text-align: left; }
td.uLcenter { text-align: center; }
td.uLright { text-align: right; }
button.uLright { float: right; } 
button.uLcenter {
   width: 30%;
   margin-left: 35%;
   margin-right: 35%;
} 
/* ************************************************************************
 * definitions for Link graphical coding
 * ******************************/

span.uLimage {
   display: inline-block;
   border: 1px solid #ffffff;
   border-radius: 0.6em;
   padding: 0.8em 0.5em 0.3em 0.5em!important;
   margin: 0.8em 0 0.3em 0;
   vertical-align: top;
   text-align: center;
}

img.uLinline {
   vertical-align: top;
}

/* onclick on image it may be shown in original size */
span.uLimage img.uLsizer {
   animation: fadein 1.5s 1;
   z-index:2000;
   box-shadow: 3px 3px 5px 6px #ccc;
}
span.uLimage img.uLsizer + img { display:none; }
span.uLimage img + span.uLpara { padding: 0; margin: 0 0 0.6em 0; }
span.uLimage img + span.uLpara:before { content: "Bild: "; font-weight: bold; } 

.uLleft { display:block; float:left; margin: 0.5em 0.5em 0.5em 0; }
.uLright { display:block; float:right; margin: 0.5em 0 0.5em 0.5em; }

.uLmainContent a[href^="#"]:after {		/* intern */
	font-size: 1em;
	content: "\21c5";
	font-weight: bold;
   background-image: none;
	display: inline-block;
}
fieldset a:before, fieldset a:after,
#foot a:before, #foot a:after {	content: none!important; }
/*
, a.uLExternLink
, a.uLPdfData
, a.uLVideoData
, a.uLImageData
, a.uLSoundData
, a.uLZipData
, a.uLOfficeData
, a.uLSeacher
, a.uLCompleter
, a.uLAlarm
, a.uLBanned
, a.uLRestricted
, a.uLCompleted
, a.uLArchived
, a.uLEstimated
, a.uLtechnical
, a.uLVerified
*/
.uLmodal a[target="_blank"]:before,
.uLmainContent a[target="_blank"]:before,
.uLmainContent a[href^="http"]:before, /* extern */
a[href]:after {
   display: none;
   position: relative;
   bottom: -0.3em;
   width: 1.3em;
   height: 1.3em;
   background-size: auto 1.3em!important;
}
.uLmodal a[target="_blank"]:before,
.uLmainContent a[target="_blank"]:before,
.uLmainContent a[href^="http"]:before { /* extern */
   content: '';
   display: inline-block;
   background-position-x: 0!important;
}
a[href$=".jpeg"]:after, a[href$=".jgp"]:after, a[href$=".jpe"]:after,
a[href$=".gif"]:after, a[href$=".png"]:after, a[href$=".ico"]:after,
a[href$=".bmp"]:after, a[href*=".jpeg?"]:after, a[href*=".jgp?"]:after,
a[href*=".jpe?"]:after, a[href*=".gif?"]:after, a[href*=".png?"]:after,
a[href*=".ico?"]:after, a[href*=".bmp?"]:after {		/* image */
	content: '';
	display: inline-block;
	background-position-x: calc( 1.3em * -3 )!important;
}
a[href$=".pdf"]:after, a[href*=".pdf?"]:after {		/* pdf */
	content: '';
	display: inline-block;
	background-position-x: calc( 1.3em * -1 )!important;
}
a[href$=".zip"]:after, a[href$=".arc"]:after,
a[href*=".zip?"]:after, a[href*=".arc?"]:after {		/* zip */
	content: '';
	display: inline-block;
	background-position-x: calc( 1.3em * -5 )!important;
}
a[href$=".mp3"]:after, a[href$=".qt"]:after, a[href$=".wav"]:after,
a[href$=".aac"]:after, a[href$=".mp4"]:after, a[href$=".m4a"]:after,
a[href*=".mp3?"]:after, a[href*=".qt?"]:after, a[href*=".wav?"]:after,
a[href*=".aac?"]:after, a[href*=".mp4?"]:after, a[href*=".m4a?"]:after {		/* audio */
	content: '';
	display: inline-block;
	background-position-x: calc( 1.3em * -4 )!important;
}
a[href$=".avi"]:after, a[href$=".flv"]:after, a[href$=".mov"]:after,
a[href$=".mpeg"]:after, a[href$=".mpg"]:after, a[href$=".mp4"]:after,
a[href$=".mkv"]:after, a[href$=".ram"]:after, a[href$=".rm"]:after,
a[href$=".ra"]:after, a[href$=".wmv"]:after,
a[href*=".avi?"]:after, a[href*=".flv?"]:after, a[href*=".mov?"]:after,
a[href*=".mpeg?"]:after, a[href*=".mpg?"]:after, a[href*=".mp4?"]:after,
a[href*=".mkv?"]:after, a[href*=".ram?"]:after, a[href*=".rm?"]:after,
a[href*=".ra?"]:after, a[href*=".wmv?"]:after {		/* video */
	content: '';
	display: inline-block;
	background-position-x: calc( 1.3em * -2 )!important;
}
/* office */
a[href$=".docx"]:after, a[href$=".doc"]:after, a[href$=".rtf"]:after,
a[href$=".xlsx"]:after, a[href$=".xls"]:after, a[href$=".pptx"]:after,
a[href$=".ppt"]:after, a[href$=".ppsx"]:after, a[href$=".pps"]:after,
a[href*=".docx?"]:after, a[href*=".doc?"]:after, a[href*=".rtf?"]:after,
a[href*=".xlsx?"]:after, a[href*=".xls?"]:after, a[href*=".pptx?"]:after,
a[href*=".ppt?"]:after, a[href*=".ppsx?"]:after, a[href*=".pps?"]:after {
   content: '';
   display: inline-block;
   background-position-x: calc( 1.3em * -6 )!important;
}

/*
 * useLib is created for dynamically changeable, interaktive GUIs. It shall
 * be controlled by the user, be steered by classnames and be configured
 * by CSS3. Therefore it is needed to define standardized HTML structs.
 *
 ** EXPLAINATION: it is necessary to identify a sector, that shall be treated 
 ** special via css. And a element for user control via mouseover, click etc.
 ** has to be very closed to this sector. This can be done on at least two
 ** reasonable ways:
 **	1. defined the sector as childNode(s) of the control element, like
 **	<label>xxx<span>yyy</span><span>zzz</span></label> or
 **	<h1>xxx<p>yyy</p><p>zzz</p></h1>	(this would be a very unusual struct)
 **	2. put a div container around the sector to define it and define a control
 ** element	in front of it (this is at least the usual way and it is choosen)
 **
 ** To control this sector via javascript is so standardized to:
 ** 	a. find control element by className or tagName
 **	b. get sector via a nextSibling selector
 **	c. get information relating to sector (size, position etc.)
 ** 	d. set status via additional classnames of control element
 *
 *  useLib assumes the following HTML structs:
 *
 *		<div><label>xxx</label><span>yyy</span><span>zzz</span><input></div> 
 *		(for elementsteering and display in <form><fieldset> structs)
 *
 *		<h0...n>xxx</h0...n><div><p...or other>yyy</p><p...or other>zzz</p></div> 
 *		(for information visibility controled by the user)
 */
.uLhasScript .uLnoScript { display:none; }
.uLnoScript {
	position: fixed;
	top: 10%;
	left: 20%;
	text-align: center;
   color: red;
	padding: 0.8em;
	border: 3px double red;
	width: 40%;
	background-color: #ffffff;
	z-index: 200;
}

a {
   cursor: hand;
   cursor: pointer;
}

.uLhide {						/* hide from all */
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
	width:0px;
	height:0px;
	overflow:hidden;
}

/*	*************************************************************************
 * definitions for form elements
 * ******************************
//@ 4 main structs assumed: for all element except radiobuttons and checkboxes
fieldset
   legend
   div
      label:first-child
      span (optional)
      span (optional)
      >input or select or textarea

fieldset
   legend
   div
      h2
      div
         label:first-child
         span (optional)
         span (optional)
         >input or select or textarea

//@ for radiobuttons and checkboxes
fieldset
   legend
   div
      input:first-child
      +label

fieldset
   legend
   div.uLright (optional: .uLright)
      h2
      div         :: (always must be a column block if .uLright)
         h3
         div
            input:first-child
            +label

form, .uLhelp {
   margin-bottom: 10px;
   padding-right: 10px!important;
}
.uLhelp { padding: 1.8em 0; }
*/
form .uLgroup > h1, form .uLgroup > h2 { /* not in longer informs and explains */ 
	padding: 0 0 0.3em 0.5em;
}

form span.uLlinebreak {
   display: block;
   float:left;
   clear: left;
   margin-top:1.0em;
}

select, input, textarea {
   font-size: 1em;
   margin: 0;
   padding-left: 0.3em;
   padding-right: 0;
   border-style: inset;
   border-width: 0.2em;
   border-left-width: 0.3em!important; /* to differentiate status  */
   width: 100%;
}
div input:first-child + label { /* for radio and checkbox */
   border-width: 0;
   border-left-width: 0.3em!important; /* to differentiate status  */
   border-style: solid;
   border-color: transparent;
}

input, select {
   line-height: 2.0em;
}
textarea {
   line-height: 1.2em;
}
/*
fieldset .uLisCover textarea {
   height:100%;
}*/
fieldset .uLisCover select {
   padding-left: 0!important;
}
select[multiple] {
   height: auto!important;
}

form fieldset.uLhidden {
   background: none;
   border: none;
   margin: 0;
   padding: 0;
}

form fieldset
, form div {
   font-size: 1.0em;
   line-height: 1.2em;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
   vertical-align: top;
}
form fieldset {
   border: 0.1em solid transparent;
}
form fieldset div {
   height:100%;
   vertical-align: bottom;
}

fieldset.uLinline { padding-right: 0!important; }
fieldset.uLinline:last-child {
   margin-right: 0!important;
   width: calc(var(--ulwidth));
}
fieldset > div.uLselect:only-of-type
, div > div.uLselect:only-of-type {
   width: 100%!important;
}

form fieldset:last-of-type {
   margin-bottom: 0!important;
}
form fieldset legend {
   position: absolute;
   top: auto;
   left: auto;
   right: auto;
   bottom: auto;
   font-size: 1.0em;
   font-weight: bold;
   margin: 0 0.8em 0 0;
   border: none;
   border-radius: 0;
   border-top: 0.1em solid transparent;
   z-index: 4;
   display: block;
}
form fieldset fieldset legend
, form fieldset fieldset fieldset legend
, form fieldset fieldset fieldset fieldset legend {
   top: auto;
   left: auto;
   right: auto;
   bottom: auto;
   font-weight: normal;
   display: block;
}
form fieldset legend span { padding-left: 0.3em; }

/* special formats for internal selection controls of useLib */
form[data-ul="password"] {
   width: 35em;
}

form[data-ul="time"] fieldset {
   margin-left: 0;
}
form[data-ul="time"] fieldset { width:15.0em; }                /* minute table */
form[data-ul="time"] fieldset:first-child { width:35.0em; }    /* hour table */
form[data-ul="time"] fieldset:first-child span { width:7.5em; }/* day sections */

form[data-ul="time"] fieldset div {
   margin-right: 0!important;
   padding-right: 0.2em!important;
   padding-left: 1.2em!important;
}
form[data-ul="time"] fieldset .uLlinebreak {
   margin-top: 0.5em;
}
form[data-uL="time"] .uLgap {
   display: inline-block;
   margin: 3.0em 0 0 0;
   padding: 0;
   width: 0.8em;
}
form[data-uL="time"] .uLgap:after {
   display: block;
   position:absolute;
   left: -0.25em;
   top: 0.44em;
   content: ':';
   font-size: 500%;
}
form[data-uL="time"] fieldset>div {
   margin-top: 0.6em;
   width: 4.0em;
   overflow: visible!important;
}
form[data-uL="time"] fieldset>div:after { content: none!important; }

/* *************************************************************************
 * definitions for calendar
 * ******************************/
form[data-ul="calendar"] {
   width: 46.0em;
   text-align:left;
   /*user-select: none;*/
   clear: both;
}
form[data-ul="calendar"] div div {
   padding-left: 0;
}
form[data-ul="calendar"] input {
   user-select: text;
}

form[data-ul="calendar"] .uLdoublebutton { width: 85%; }
form[data-ul="calendar"] .uLinform { width: 28em }

form[data-ul="calendar"] div.uLcalendar {
   padding-left: 0.9em;
}

form[data-ul="calendar"] table {
   border-spacing:3px;
   cursor: hand;
   cursor: pointer;
}
form[data-ul="calendar"] th, div.uLcalendar td {
   font-size:1em;
   text-align:center;
   border: 2px solid transparent;
   padding: 0;
   position: relative;   
}

.uLcalendar button.uLdown
, .uLcalendar button.uLup {
   position: absolute;
   right: 0.3em;
   width: 0;
   height: 0;
   padding: 0;
   border-style: solid;
   border-width: 0 0.8em 0 0.8em;
   border-color: transparent;
}
.uLcalendar button.uLup {
   top: 0.3em;
   border-bottom-width: 1.5em;
}
.uLcalendar button.uLdown {
   bottom: 0.3em;
   border-top-width: 1.5em;
}

form[data-ul="calendar"] .uLlegend {
   position: absolute;
   left: 32.5em;
   width: 11em;
   margin-left: 0.3em;
   text-align: center;
}

form[data-ul="calendar"] .uLyear,
form[data-ul="calendar"] .uLmonth {
   min-width:8.5em;
   font-size:1.2em;
   font-weight:bold;
   line-height:1.2em;
   text-align:left!important;
   vertical-align:top;
   padding:0.5em 3px 0 0.5em!important;
}
form[data-ul="calendar"] .uLyear label {
   display: inline-block;
   padding-right: 0.5em;
}
form[data-ul="calendar"] .uLyear input {
   display: inline-block;
   font-weight: bold;
   width: 5.5em;
   margin: 0;
   padding: 0;
   text-align: center;
}
form[data-ul="calendar"] .uLweek { width:2.4em; }
form[data-ul="calendar"] .uLday { width:1.6em; }
form[data-ul="calendar"] .uLweek.uLsmall {
   font-size:0.8em;
   text-align:right;
   padding-right:0.5em;
}
form[data-ul="calendar"] .uLtoday { font-weight:bold; }
form[data-ul="calendar"] .uLcalendar .uLdisabled {
   font-style: italic;
   background: repeating-linear-gradient(
      135deg,
      rgba(220, 220, 220, 0.5),
      rgba(60, 60, 60, 0.5) 10px,
      rgba(220, 220, 220, 0.5) 10px,
      rgba(60, 60, 60, 0.5) 10px
   );
}

form[data-ul="calendar"] .uLlegend h1 {
   font-size:1.0em;
   margin:0.3em 0 0 0;
   padding:0.6em 0.5em;
}
form[data-ul="calendar"] .uLlegend dl {
   line-height:1.2em;
   margin: 0.3em 0 1.2em 0;
}
form[data-ul="calendar"] .uLlegend dl dt {
   text-align:center;
   width:1.7em;
   height:1.2em;
   float:left;
   clear:left;
   border: 2px solid transparent;
}
form[data-ul="calendar"] .uLlegend dd {
   font-size:0.9em;
   margin:0 0 0.3em 3.0em;
}

form div.uLgap {
   display: inline-block;
   height: 2.0em;
}
form hr {
   width: 90%;
   height: 0.2em;
}

form div input,
form div select,
form div textarea {		/* define line spacing between input */
   font-family: 'Lucida Console',Monaco,monospace;
}
form div > label {
   font-size: 1em;
   line-height: 1.2em;
   border-bottom-width: 1px;
}

form div > label:first-child {
   display: block;
   margin: 0;
}
form div > input,
form div > textarea, 
form div > select {
   margin: 0;
}

form[data-ul="dynamicExtend"] div.uLgrouper {
   border: 1px solid #999999;
   border-right-width: 0;
   border-top-left-radius: 0.7em;
   border-bottom-left-radius: 0.8em;
   padding: 0.2em 0 0.2em 0.4em;
}
form[data-ul="dynamicExtend"] div.uLgrouper input:first-child + label {
   border-bottom: 0;
}

form[data-ul="world"] div input:first-child + label,
form[data-ul="dynamicExtend"] div input:first-child + label,
form[data-ul$="Select"] div input:first-child + label {  /* for check- and radiolist */
   border-bottom: 1px solid silver;
}

form[data-ul="world"] h2:first-child,
form[data-ul="dynamicExtend"] h2:first-child,
form[data-ul$="Select"] h2:first-child {
   border-bottom: 1px solid #555555;
   margin: 0.5em 0.7em 0 0;
   padding-bottom: 0.2em;
}
form.uLworld div.uLsame h2:first-child,
form[data-ul="dynamicExtend"] div.uLsame h2:first-child,
form[data-ul$="Select"] div.uLsame h2:first-child {
   color:transparent;
   margin-left: -0.7em;
}

select, options {
	background-color: #ffffff;
}
label, select {
   cursor: hand;
   cursor: pointer;
}
input {
	cursor: text;
}
label tt {
	font-family: 'Lucida Sans Typewriter','Lucida Console'
    ,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 1em;
	font-weight: bold;
	font-style: normal; 
  letter-spacing: 0;
	padding-right: 0.5em;
}

input[type="checkbox"], input[type="radio"], input[type="button"]
, input[type="submit"], input[type="reset"] {
   padding: 0!important;
	cursor: pointer!important;
}
div input[type="checkbox"], div input[type="radio"] { 
   position: absolute;
   left: 0.2em;
   bottom: 0.3em;
   width: auto;
   height: 16px!important;
}
fieldset.uLinline {
   padding-top: 0!important;
}
fieldset.uLinline > div {
   display: inline-block;
   width: auto!important;
   height: 100%;
}

form div input[type="checkbox"] + label, form div input[type="radio"] + label { 
   display: inline-block;
   padding-bottom: 0.2em!important;
   margin: 0 1.6em 0 0.2em;
}
fieldset.uLdynlist div input[type="checkbox"] + label {
   padding-left: 0.8em;
   margin-right: 0.5em;
}

div.uLdynfilter { display:none!important; }
fieldset.uLshow div.uLdynfilter { display:block!important; }

fieldset.uLformFold >fieldset,
fieldset.uLformFold >div { display: none; } /* folded fieldsets hidden */
fieldset.uLformFold.uLopen >fieldset,  /* folded fieldsets opened */
fieldset.uLformFold.uLopen >div { display: inline-block; }

/* position and view of checkboxes in front of list elements */
fieldset.dynamicarray > fieldset.uLdynlist > legend {
   border: none;
   border-radius: 0;
   background-color: rgba( 100, 100, 100, 0.45 );;
   padding: 0;
   margin: 0;
   top: 0;
   left: -1.6em;
   height: 100%;
   width: 14px;
}
fieldset.dynamicarray fieldset.uLdynlist {
   padding-left: 1.9em!important;
   padding-right: 0.6em!important;
}
fieldset.dynamicarray fieldset.uLdynlist legend input {
   position: absolute;
   top: 2em;
}
fieldset.dynamicarray fieldset.uLdynlist legend span { display:none; }
fieldset.uLdynlist legend { margin-left: 20px!important; padding-left: 1.4em;}
fieldset.uLdynlist legend input { width: auto; margin-right: 0.4em; }

fieldset.dynamiclist.uLnoaction > div.uLdynaction,
fieldset.dynamicarray.uLnoaction > div.uLdynaction,
fieldset.dynamiclist.uLnoaction > fieldset.uLdynlist > button.uLadd,
fieldset.dynamicarray.uLnoaction > fieldset.uLdynlist > button.uLadd,
fieldset.dynamiclist.uLnofilter.uLshow > div.uLdynfilter,
fieldset.dynamicarray.uLnofilter.uLshow > div.uLdynfilter,
fieldset.dynamiclist.uLnoaction > fieldset.uLdynlist > legend > input,
fieldset.dynamicarray.uLnoaction > fieldset.uLdynlist > legend,
fieldset.dynamiclist > fieldset.uLdynlist > button.uLdelete,
fieldset.dynamicarray > fieldset.uLdynlist > button.uLdelete,
fieldset.dynamiclist.uLdelete > fieldset.uLdynlist > button.uLup,
fieldset.dynamicarray.uLdelete > fieldset.uLdynlist > button.uLup {
   display:none!important;
}
fieldset.dynamiclist.uLdelete > fieldset.uLdynlist > button.uLadd,
fieldset.dynamicarray.uLdelete > fieldset.uLdynlist > button.uLadd,
fieldset.dynamiclist.uLdelete > fieldset.uLdynlist > button.uLdelete,
fieldset.dynamicarray.uLdelete > fieldset.uLdynlist > button.uLdelete,
fieldset.dynamiclist.uLadd > fieldset.uLdynlist > button.uLadd,
fieldset.dynamicarray.uLadd > fieldset.uLdynlist > button.uLadd {
   display:block!important;
}
fieldset.dynamiclist.uLflow > fieldset.uLdynlist,
fieldset.dynamicarray.uLflow > fieldset.uLdynlist {
   width: auto!important;
}
fieldset.dynamicarray.uLnoaction.uLflow > fieldset.uLdynlist {
   padding-left: 0!important;
}

fieldset.uLdynlist button.uLup
, fieldset.uLdynlist button.uLadd
, fieldset.uLdynlist button.uLdelete {
   font-weight: normal;
   position: absolute;
   right: 0;
   width: 1.3em;
   height: 1.3em;
   z-index: 3;
}
fieldset.uLdynlist button.uLdelete { top: 0; }
fieldset.uLdynlist button.uLup { top: 0; display:none; }
fieldset+fieldset.uLdynlist button.uLup {  /* show only if not single */
   display: block;
}
fieldset.uLdynlist:nth-child(2) button.uLup { display: none; }
fieldset.uLdynlist button.uLadd { bottom: 0; }

div.uLdynlist div>input { padding-left: 1.0em; }
div.uLdynlist div>span.count,
div.uLdynlist div>span.sum,
div.uLdynlist div>span.average,
div.uLdynlist div>span.deviation,
div.uLdynlist div>span.min,
div.uLdynlist div>span.max {
  position: absolute;
  left: 0;
  bottom: 30%;
  font-weight: bold;
  font-size: 120%;
  z-index: 5;
}
div.uLdynlist div>span.count:before { content: '\21F3' }
div.uLdynlist div>span.sum:before { content: '\2211' }
div.uLdynlist div>span.average:before { content: '\2205' }
div.uLdynlist div>span.deviation:before { content: '\2213' }
div.uLdynlist div>span.min:before { content: '\2913' }
div.uLdynlist div>span.max:before { content: '\2912' }

div.uLdynfilter {
   margin-left: 1.5em;
   height: auto;
}
div.uLdynaction div,
div.uLdynfilter div {
  margin-top: -0.3em;
  padding-left: 1.5em;
}
div.uLdynaction span.uLinform { max-width: 30em; }
div.uLdynaction select { width: 10em; }

div.uLdynlist button.uLup,
div.uLdynlist button.uLadd,
div.uLdynlist button.uLdelete {
   height: 1.8em;
   margin-left: 0.3em;
   padding: 0 0.5em 0.2em;
}
fieldset.uLdynaction>div>input[type="checkbox"] { 
   position: relative;
   margin-top: 0.3em;
   bottom: 0;
}
fieldset div.uLdynfilter.uLactive:before {
  content: '(' attr(data-count) ')';
  text-align: right;
  width: 2em;
  position: absolute;
  left: -2.0em;
}
.uLdynaction:before {
  content: '(' attr(data-count) ')';
  padding-right: 0.5em;
  float: left;
}

.uLshowActive {
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   transition: all 0.30s ease-in-out;
}

div.uLdynfilter>div select { width: 7em; }
div.uLdynfilter>div input { width: 12em; }
div.uLdynfilter>div.uLbutton { width: 15em; white-space: nowrap;}
div.uLdynfilter>div.uLbutton > div { width: auto; display: inline; padding: 0; }
fieldset.dynamiclist.uLnoaction > div.uLdynfilter>div.uLbutton { width: 11em; }

/*	*********************************************
 * definitions for expert level and tooltips
 * ********************************************/

.uLhasInform +div,
#uLselector div,
#uLfastfeeder div {
	position: relative;
}

body.uLexplainNone fieldset {
   padding-top: 0.6em!important;
   padding-bottom: 0.3em!important;
   margin-top: 0.2em!important;
   margin-bottom: 0.3em!important;
}
body.uLexplainNone fieldset > div {
   margin-bottom: 0.5em!important;
}
body.uLexplainNone fieldset > legend {
   font-size: 0.8em;
   opacity: 0.8;
}
body.uLexplainNone form div > label:first-child {
	position: absolute;
	top: -0.9em;
	right: 0;
	font-size: 0.7em;
   margin: 0;
   text-align: center;
	width: 100%;
   color: transparent;  /* trick to show task all times */
}

body.uLexplainNone form div > label:first-child:hover {
   opacity: 0.75;
   color: inherit;
}
body.uLexplainNone form div > label:first-child .uLtask { /* show tasks all times */
   font-size: 1.43em!important;
   top: -0.3em;
   right: -1.0em;
   opacity: 1;
}

body.uLexplainLess .uLinform,
body.uLexplainAll .uLinform,
body.uLexplainAll .uLexplain {
   position: relative;
   display: block;
   border: none;
   margin: 0;
   padding: 0;
}
body.uLexplainLess #uLfastfeeder .uLinform,
body.uLexplainAll .uLmainnavigation a+.uLinform,
body.uLexplainNone .uLinform,
body.uLexplainNone .uLexplain,
body.uLexplainLess .uLinform,
body.uLexplainLess .uLexplain {
   display: none;
}
body.uLexplainAll .uLexplain {
   /* takes care about distance between inform and explain (last never alone) */
   padding-top: 0!important;
}
.uLinform p, .uLexplain p, .uLinform li, .uLexplain li {
   margin: 0;
   padding: 0;
   hyphens: auto;
}
body.uLexplainAll .uLmainnavigation a+.uLinform,
body.uLexplainLess .uLinform {
   position: absolute;
   width: 80%!important;
   min-width: 25em;
   top: 1.5em;
   left: 3em;
   z-index: 200; 
   margin: 0;
}  
body.uLexplainAll .uLmainnavigation a+.uLinform,
body.uLexplainLess .uLmainnavigation .uLinform {
  width: 18em;
  left: 90%;
}
body.uLexplainLess .uLinform.uLbottom {
   top: auto!important;
   bottom: 110%!important;
}
body.uLexplainNone .uLmodal.uLhint .uLinform,
body.uLexplainLess .uLmodal.uLhint .uLinform,
body.uLexplainNone .uLmodal.uLerror .uLinform,
body.uLexplainLess .uLmodal.uLerror .uLinform {
   display: block!important;
   position: relative!important;
   left: 0;
   top: 0;
}
body.uLexplainLess div.uLhasInform:hover +.uLinform {
   left: 80%;
}
body.uLexplainLess #uLfastfeeder label:hover +.uLinform,
body.uLexplainAll .uLmainnavigation a:hover +.uLinform,
body.uLexplainLess div.uLhasInform:hover +.uLinform,
body.uLexplainLess a:hover +.uLinform,
body.uLexplainLess h1:hover +.uLinform,
body.uLexplainLess h2:hover +.uLinform,
body.uLexplainLess legend:hover +.uLinform,
body.uLexplainLess label:hover +.uLinform,
body.uLexplainLess h1:hover +div >.uLinform, /* header in text */
body.uLexplainLess h2:hover +div >.uLinform {
   display: block!important;
   animation: tooltipp 50s;
   background-color: #ffffff;
}
body.uLexplainNone .uLmodal.uLhint h1:hover +.uLinform,
body.uLexplainLess .uLmodal.uLhint h1:hover +.uLinform,
body.uLexplainNone .uLmodal.uLhint h2:hover +.uLinform,
body.uLexplainLess .uLmodal.uLhint h2:hover +.uLinform,
body.uLexplainNone .uLmodal.uLerror h1:hover +.uLinform,
body.uLexplainLess .uLmodal.uLerror h1:hover +.uLinform,
body.uLexplainNone .uLmodal.uLerror h2:hover +.uLinform,
body.uLexplainLess .uLmodal.uLerror h2:hover +.uLinform {
   animation: none;
}
body.uLexplainAll .uLinform,
body.uLexplainAll .uLexplain {
   position:relative;
}
body.uLexplainAll .uLinform:before,
body.uLexplainAll .uLexplain:before,
body.uLexplainLess .uLinform:before {
   display: block;
   position: absolute;
   border: none;
}

body #uLhelpTxt { width: 40em; }
body #uLhelpTxt .uLinform,
body #uLhelpTxt .uLexplain {
   border: none!important;
}

/* to mark uLinform and uLexplain (done via javascript) */
body.uLexplainAll .uLmainnavigation a.uLhasInform:after,
body.uLexplainLess .uLhasInform:after {
	font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
	font-size: 1.3em;
   content: "\2071";
}
body.uLexplainNone textarea:hover,
body.uLexplainNone .uLhasSelect label:hover,
body.uLexplainNone .uLhasInput label:hover {
   background-color: #E2E8FF;
   border-color: #8C909E;
}

/* ************************************************************************
 * definitions for tab navigation
 * ******************************/
ul.uLtabs {
   font-family: Verdana,Arial,sans-serif;
   list-style-type: none;
   min-width: 100%;
   /*margin: 0.3em 0 -1px 0;
   padding: 0.1em 0 0.8em 0.3em;*/
   position: relative;
   float: left;   
   width: 100%;
}
ul.uLtabs li {
   display: inline;
   /*margin: 0 0 0 0.6em;*/
   margin: 0;
}

ul.uLtabs li a:first-child {
   display: inline-block; /*  if block only, no borders in IE6 */
   float: left;
   position: relative;
   border-radius: 0;
   text-decoration: none;
}
ul.uLtabs li a:first-child:hover {
   text-shadow: 2px 2px 3px #999999;
}
ul.uLtabs li a:first-child+div,
ul.uLtabs li a:first-child+form {
   display: none;
}
ul.uLtabs li.uLshow a:first-child+div,
ul.uLtabs li.uLshow a:first-child+form {
   display: block!important;
   position:relative;
   float: right;
   margin-left: -100%;
}

/*	******************************************************************************
 * definitions for different element statu:s
 * ******************************/
input[type="radio"]:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled +label,
input[type="checkbox"]:disabled +label,
form select.uLdisabled + .uLisCover.uLtoggleSelect,
form button.uLdisabled,
form input.uLdisabled,
form select.uLdisabled,
form textarea.uLdisabled,
.uLtabs a.uLdisabled {
   opacity: 0.7;
   filter: brightness(100%);
   border: 1px solid #fafafa;
}
input[disabled], textarea[disabled], select[disabled] {
   background-color:rgba(250, 250, 250, 0.70)!important;
}
form label.uLdisabled {
   opacity: 0.60;
}


/* for styling focus especially for radio and checkbox browser hacks are needed... */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   input:focus{ outline: none!important; } /* kill 1px-black-dotted-Border on >= ie10 */
}
div.uLfocused input,div.uLfocused select, div.uLfocused textarea,
form input.uLfocused,
form select.uLfocused,
form textarea.uLfocused,
form input.uLfocused + .uLisCover input,
form input.uLfocused + .uLisCover select,
form select.uLfocused + .uLisCover textarea,
input:focus, select:focus, textarea:focus {
   -moz-outline: none!important;  /* well, also for older mozilla... */
   box-shadow: -2px 2px 3px #92b6e2, 2px -2px 3px #92b6e2!important;
}
form input[type="radio"].uLfocused, form input[type="checkbox"].uLfocused,
input[type="radio"]:focus,input[type="checkbox"]:focus {
   box-shadow: 0px 6px 0px #92b6e2 inset, 2px 0px 3px #92b6e2        /* for IE */
      , 0px -4px 2px #92b6e2 inset, -2px 0px 2px #92b6e2!important;
   border-radius: 2px;
   /* default for Webkit and overwrite for mozilla */
   -webkit-box-shadow: none!important;
   -moz-box-shadow: -2px 2px 3px #92b6e2, 2px -2px 3px #92b6e2!important;
}
input[type="radio"].uLfocused, input[type="radio"]:focus { border-radius: 12px!important; }
input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus {
   box-shadow: none!important;
   outline: none!important;
}

form label.uLchanged, .uLtabs a.uLchanged {
   font-weight:bold !important; 
}
form div input.uLchanged:first-child + label { /* for radio and checkbox */
   font-weight:normal !important;  
}
form div input.uLchanged:first-child + label, /* for radio and checkbox */
form input.uLchanged,
form select.uLchanged,
form textarea.uLchanged,
form input.uLchanged + .uLisCover input,
form input.uLchanged + .uLisCover select,
form select.uLchanged + .uLisCover input,
form select.uLchanged + .uLisCover textarea {
   border-left-color: #555555!important;
   border-left-style: solid!important;
}

form div input.uLtechnical:first-child + label, /* for radio and checkbox */
form label.uLtechnical, .uLtabs a.uLtechnical {
   font-family: 'Lucida Sans Typewriter','Lucida Console',monaco,'Bitstream Vera Sans Mono',Monospace;
   letter-spacing: 0.15em;
}
form label.uLhasField.uLtechnical, .uLtabs a.uLtechnical {
   border-bottom-color: #60697b !important;
   border-bottom-style:dashed !important;
}
body.uLexplainNone form label.uLtechnical {
	border-bottom-style:none !important;
}

form input.uLtechnical,
form select.uLtechnical,
form textarea.uLtechnical,
form input.uLtechnical + .uLisCover input,
form input.uLtechnical + .uLisCover select,
form select.uLtechnical + .uLisCover textarea {
   border-bottom-color: #60697b !important;
   border-bottom-style:dashed !important;
}

.uLtabs a.uLrestricted,
form input.uLrestricted,
form select.uLrestricted,
form textarea.uLrestricted,
form input.uLrestricted + .uLisCover input,
form input.uLrestricted + .uLisCover select,
form select.uLrestricted + .uLisCover textarea {
  color: transparent; 
  text-shadow: 0 0 0.7em rgb(255,255,255)!important; 
}

form div input.uLerror:first-child + label, /* for radio and checkbox */
form label.uLerror, .uLtabs a.uLerror {
   color: #ca0f23;
   text-decoration: underline;
}

form input.uLerror,
form select.uLerror,
form textarea.uLerror,
form input.uLerror + .uLisCover input,
form input.uLerror + .uLisCover select,
form select.uLerror + .uLisCover textarea {
   border-top-color: #ca0f23 !important;
   border-right-color: #ca0f23 !important;
}

form div input.uLrequired:first-child + label, /* for radio and checkbox */
form input.uLrequired,
form textarea.uLrequired,
form input.uLrequired + .uLisCover input,
form select.uLrequired + .uLisCover textarea,
form select.uLrequired,
form input.uLrequired + .uLisCover select {
  background-image: linear-gradient( 120deg, transparent 55%, #8795b5 );
  background-repeat: no-repeat;
}

input[type="radio"]+label.uLrequired:before
, input[type="checkbox"]+label.uLrequired:before
, .uLmanyRequired label.uLrequired:before
, .uLmanyRequired .uLtabs a.uLrequired:before { content: none; }

input.uLnotDone+label.uLrequired:before {
/* before or after not at input elements */
   font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
   font-size:1.1em;
   font-weight: bold;
   font-style: normal;
   position: absolute;
   left: 6px;
   top: -4px;
   margin-top: 0.4em;  /* (allmost) value as 'fieldset div input:first-child' */
   content: "";
   color: #222;
   z-index: 2;
}

input.uLsuccess, textarea.uLsuccess, form div.uLsuccess {
	/*box-shadow: inset 0px 0px 2px 4px #d7ffb5;*/
   background-color: #d7ffb5!important;
}

input.uLkeyCarry, textarea.uLkeyCarry, .uLkeyCarry input {
  background: linear-gradient( -45deg, #ffffff, #ffffff, #D3DEEF, #ffffff, #ffffff );
  background-size: 400% 400%;
  animation: gradient 1.2s ease infinite;
}

input.uLkeyHint, textarea.uLkeyHint, .uLkeyHint input {
   background-color: #FFAF22 !important;
}
input.uLkeyError, select.uLkeyError, textarea.uLkeyError, div.uLclock.uLkeyError {
	animation: shake 1s 2;
   border-color: #ED3526 !important;
   border-left-style:dotted !important;
}

/* to mark error messages inside of a form */ 
form #uLerrorMsg {
   margin-bottom: 0.5em;
}
form #uLerrorMsg * {
   font-size: 0.9em;
   color: #ca0f23;
}

div.uLerror div.uLerror {
  color: #ca0f23;
  font-size: 0.9em;
}
div.uLerror h1 {
  font-size: 1em;
}

form:before {
	content: "";
	display: block;
   width: 100%;
   min-height: 0.4em;	/* have some space, if there is no required legend */
}
form.uLonlyRequired:before, form.uLsomeRequired:before, form.uLmanyRequired:before {
	font-size: 0.8em;
   text-align: right;
   padding: 1px 8px 2px 0;
}

form:lang(en).uLonlyRequired:before { content: "Please fill in all fields!"; }
form:lang(de).uLonlyRequired:before { content: "Bitte alle Felder ausfüllen!"; }

form:lang(en).uLsomeRequired:before { content: "\2605 = mark for required fields"; }
form:lang(de).uLsomeRequired:before { content: "\2605 = Pflichtfeld-Markierung"; }

form:lang(en).uLmanyRequired:before { content: "\2606 = mark for optional fields"; }
form:lang(de).uLmanyRequired:before { content: "\2606 = Markierung freiwilliger Felder"; }

input[type="checkbox"][required], input[type="radio"][required] {
   box-shadow:none!important; /* i.e. firefox else has a red border */
}

.uLsomeRequired fieldset fieldset > legend.uLrequired:before
, .uLmanyRequired fieldset fieldset > legend.uLstatus:before
, .uLsomeRequired label.uLrequired:before
, .uLsomeRequired .uLtabs a.uLrequired:before
, .uLmanyRequired label:before
, .uLmanyRequired .uLtabs a:before {
   font-size: 0.8em;
   vertical-align: top;
   font-weight: bold;
   padding-right: 0.4em;
}

.uLsomeRequired input.uLnotDone+label.uLrequired:before
, .uLsomeRequired fieldset fieldset > legend.uLrequired:before
, .uLsomeRequired label.uLrequired:before
, .uLsomeRequired .uLtabs a.uLrequired:before { content: "\2605"; } /* ★ \2605 */

.uLmanyRequired  input.uLnotDone+label:before
, .uLmanyRequired fieldset fieldset > legend.uLstatus:before
, .uLmanyRequired label:before
, .uLmanyRequired .uLtabs a:before { content: "\2606"; } /* ☆ \2606 */

label .uLtask {
   bottom: 2.5em;
}
label .uLtask {
   visibility: hidden;
   display: block;
   position: absolute;
   right: 0.2em;
   top: 0.5em;
   font-size: 1.0em;
   font-style: normal;
   font-weight: bold;
   text-shadow: none;
   width: 1.2em;
   height: 1.2em;
   vertical-align: bottom;
   margin-left: 0.5em;
   background-color: #fcfcfc;
   border: 1px solid #222;
   border-radius: 3px;
   z-index: 5;
}

label.uLfocused .uLtask
, label.uLrequested .uLtask
, label.uLestimated .uLtask
, label.uLadjusted .uLtask
, label.uLverified .uLtask { visibility: visible; }

div.uLinvisible label { color: transparent; }
div.uLinvisible p { display: none; }

.uLmodal form[data-ul] label .uLtask { display: none; }
.uLtask:after {
   position: relative;
   top: -0.1em;
   font-family: Arial,sans-serif!important;
   z-index:6;
}

.uLtask:after {
   left: 0.1em;
   color: #222;
   font-size: 1.0em;
   content: "\27F3";        /* CLOCKWISE GAPPED CIRCLE ARROW */
}      
.uLrequested .uLtask:after {
   left: 0.1em;
   font-size: 0.7em;
   content: "\1F4DE";    /* TELEPHONE LOCATION SIGN sign \2706 */
}
.uLestimated .uLtask:after {
   left: 0.2em;
   font-size: 1.1em;
   color: red;
   content: "\2248";    /* math approximately sign */
}
.uLadjusted .uLtask:after {
   color: orange;
   font-size: 0.9em;
   content: '\270E';    /* pencil sign \270E */
} 
.uLverified .uLtask:after {
   left: 0.2em;
   font-size: 1.1em;
   color: green;
   content: '✔︎';       /* hook up sign */
}
.uLrequested .uLtask:hover:before
, .uLestimated .uLtask:hover:before
, .uLadjusted .uLtask:hover:before
, .uLverified .uLtask:hover:before {
   position: absolute;
   top: -1.5em;
   right: 0.5em;
   color: #000;
   font-weight: normal;
   animation: fadein 2.5s 1;
   background-color: #fefefe;
   padding: 0.1em 0.2em 0.2em 0.2em;
   border: 1px solid #888888;
   box-shadow: 1px 1px 2px #888;
}
form:lang(en) .uLrequested .uLtask:hover:before { content: 'requested'; }
form:lang(en) .uLestimated .uLtask:hover:before { content: 'estimated'; }
form:lang(en) .uLadjusted .uLtask:hover:before { content: 'adjusted'; }
form:lang(en) .uLverified .uLtask:hover:before { content: 'verified'; }
form:lang(de) .uLrequested .uLtask:hover:before { content: 'angefragt'; }
form:lang(de) .uLestimated .uLtask:hover:before { content: 'geschätzt'; }
form:lang(de) .uLadjusted .uLtask:hover:before { content: 'angepasst'; }
form:lang(de) .uLverified .uLtask:hover:before { content: 'freigegeben'; }

/*	******************************************************************************
 * definitions for accordeon
 * ******************************/
.uLFold, .uLpinFold {
  min-height: 2.0em;
}
.uLFold + div, .uLpinFold + div {
  overflow: hidden;
  max-height: 0;
  animation: shrink 1.5s 1 ease-out;
}
.uLFold.uLopen + div, .uLpinFold.uLopen + div {
  animation: grow 2.1s 1 ease-in;
  max-height: 3000px;
}
.uLFold:before, .uLpinFold:before, .uLformFold>legend:before {
   content: '\25ba';
   display: inline-block;
   position: relative;
   top: 0.1em;
   width: 1.2em;
}
.uLFold.uLopen:before, .uLpinFold.uLopen:before, .uLformFold.uLopen>legend:before {
	content: '\25bc';
   top: 0;
}

.uLformFold.uLdisabled>legend {
   opacity: 0.5;
}

.uLpinFold span.uLlocker {
   display:inline-block;
   float:right;
   margin-right: 1em;
   width: 1.9em;
   height: 1.9em;
   background-position-x: -28em!important;
}
.uLpinFold span.uLlocker.uLlocked {
   background-position-x: -30em!important;
}
.uLpinFold span.uLallpins {
   display:inline-block;
   float:right;
   width: 1.9em;
   height: 1.9em;
   background-position-x: -14em!important;
}
.uLpinFold span.uLallpins.uLlocked {
   background-position-x: -12em!important;
}

/*  ******************************************************************************
 * definitions for icons and pictures
 * ******************************/
.uLicon:before
, .uLpicture:before {
   content: '';
   display: block;
   position: absolute;
   font-size: 1em;
   bottom: 0;
   text-align: center;
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: 100%;
   border-style: solid;
}
.uLicon:before {
   background-image: none;
   font-size: calc( 0.1em * var(--ul-scale));
   line-height: 1.2em;
   width: calc( var(--uliconwidth) / var(--ul-scale) * 10);
   height: calc( var(--uliconheight) / var(--ul-scale) * 10);
}
.uLpicture:before { background-image: var(--ulpicture); }

.uLicon label, .uLpicture label { display: none!important; }
.uLicon input, .uLpicture input {
   cursor: default!important;
   opacity: 0;
}

/* ************************************************************************
 * definitions for cover DIVs of useLib selectors and formated input
 * ******************************/
form .uLhasCover .uLisCover {
   width: 100%;
   /*overflow:hidden;*/
   margin: 0;
   padding: 0;
   z-index: 1!important;
   text-align: left!important;
   display: flex;
   position: relative;
   flex-flow: row nowrap;
}

form div.uLhasCover .uLisCover:after {
  content: '©';/*'\2022';*/
  color: #D12229;
  font-weight:bold;
  font-size: 0.7em;
  opacity: 0.8;
  position:absolute;
  left: -0.1em;
  bottom: -0.6em;
}

.uLhasCover .uLisCover input,
.uLhasCover .uLisCover select,
.uLhasCover .uLisCover textarea {
   position: relative;
   overflow: hidden;
   margin: 0;
   vertical-align: bottom;
   flex: 1 100%;
}
span.uLisCover input[type="text"][max="99"] { flex: 1 20%; }
span.uLisCover input[type="text"][max="999"] { flex: 1 30%; }
span.uLisCover input[type="text"][max="9999"] { flex: 1 40%; }
span.uLisCover input[type="text"][max="99999"] { flex: 1 50%; }

/* separator signs between formated input elements */
fieldset.uLinline:before,
fieldset .uLisCover:before {  /* ghost for vertical centering of separators */ 
  font-size: 0;
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
fieldset.uLinline:before {  /* horizontal ghost for correct width... !? */ 
  width: 100%;
}
div.uLseparator {
   vertical-align: bottom;
}
.uLseparator {
	font-family: 'Arial Black';
  margin: 0;
	padding: 0;
  display: inline-block;
  text-align: center;
  height:100%;
}
.uLseparator span {
   position: relative;
   top: 30%;
   display: inline-block;
   overflow: hidden;
}

.uLseparator.uLlabel {
   font-family: Verdana,Arial,Helvetica,sans-serif;
   margin:  0 0 2.5em 0.5em!important;
}
.uLseparator.uLlabel span {
   font-size: 1.0em;
}

.uLisCover span.uLbutton {
   position: relative;
   display: inline-block;
   /*height:100%;*/
   vertical-align: bottom;
}
.uLisCover.uLfon input:nth-child(2)
, .uLisCover.uLiban input:first-child
, .uLisCover.uLtowns input:first-child {
   min-width: 2.7em;
   max-width: 2.7em;
}
.uLisCover.uLtowns input:nth-child(5) {
   min-width: 18%;
   max-width: 18%;
}
.uLisCover.uLiban input:nth-child(4)
, .uLisCover.uLsalesident select
, .uLisCover.uLisounits select
, .uLisCover.uLunit select {
   min-width: 4.2em;
   max-width: 4.2em;
}

.uLfree0 { width: 0!important; overflow:hidden;}
.uLfree1 { min-width: 0.7em; }
.uLfree2 { min-width: 1.4em; }
.uLfree3 { min-width: 2.1em; }
.uLfree4 { min-width: 2.8em; }
.uLfree5 { min-width: 3.5em; }
.uLfree6 { min-width: 4.2em; }
.uLfree7 { min-width: 4.9em; }
.uLfree8 { min-width: 5.6em; }
.uLfree9 { min-width: 6.3em; }

div.uLhasCover .uLisCover textarea {
   overflow: auto;
}
.uLclock input.MINUTE,
div.uLhasCover .uLisCover.uLtime input,
div.uLhasCover .uLisCover.uLdate input,
div.uLhasCover .uLisCover.uLweek input,
div.uLhasCover .uLisCover.uLclock input,
div.uLhasCover .uLisCover.uLfon input,
div.uLhasCover .uLisCover.uLdatetime input {
	text-align: center;
}
div.uLhasCover button.uLtoggle + input,
input.PDAYS, input.PHOURS, input.HOUR, input.INT, input.PINT,
div.uLhasCover .uLisCover.uLemail input:first-child,
div.uLhasCover .uLisCover.uLunit input:first-child,
div.uLhasCover .uLisCover.uLisounits input:first-child,
div.uLhasCover .uLisCover.uLcurrency input:first-child,
div.uLhasCover .uLisCover.uLvat input:first-child,
div.uLhasCover .uLisCover.uLnet input:first-child,
div.uLhasCover .uLisCover.uLunit input:nth-child(6),
div.uLhasCover .uLisCover.uLisounits input:nth-child(6),
div.uLhasCover .uLisCover.uLcurrency input:nth-child(6),
div.uLhasCover .uLisCover.uLvat input:nth-child(8),
div.uLhasCover .uLisCover.uLnet input:nth-child(8),
div.uLhasCover .uLisCover.uLnumber input:first-child,
div.uLhasCover .uLisCover.uLfloat input:first-child {
   text-align: right;
   padding-left: 0;
   padding-right: 0.2em;
}
input.MINUTE, input.PMINUTES{
  width: 2em;
  text-align: left!important;
}

.uLisCover.uLpassword input {
  border-left: 0.1em dashed gray!important;
  border-right: 0px;
}
div.uLhasCover .uLisCover.uLvat select,
div.uLhasCover .uLisCover.uLnet select {
  min-width: 5.0em;
  flex-shrink: 2;
}

.uLisCover.uLdate .PDAYS:before,
.uLisCover.uLiban .uLseparator:nth-child(3):before,
.uLisCover.uLiban .uLseparator:nth-child(5):before,
.uLisCover.uLiban .uLseparator:nth-child(7):before,
.uLisCover.uLtowns .uLseparator:nth-child(3):before,
.uLisCover.uLtowns .uLseparator:nth-child(5):before,
.uLisCover.uLvat .uLseparator:nth-child(2):before,
.uLisCover.uLnet .uLseparator:nth-child(2):before,
.uLisCover.uLvat .uLseparator:nth-child(6):before,
.uLisCover.uLnet .uLseparator:nth-child(6):before {
   position: absolute;
   top: -0.3em;
   margin-left: 1.7em;
   display: block;
   font-size: 0.7em;
   line-height: 1.0em;
   z-index: 2;
   padding: 0 0.2em;
   background-color: #ffffff;
   opacity: 0.6;
}
.uLisCover.uLdate .PDAYS.uLseparator:before { margin-left: -4.4em; }
.uLisCover.uLvat .uLseparator:nth-child(2):before
, .uLisCover.uLnet .uLseparator:nth-child(2):before {
   content:'Brutto';
   left:0.7em;
   margin-left:0;
}
.uLisCover.uLvat .uLseparator:nth-child(6):before
, .uLisCover.uLnet .uLseparator:nth-child(6):before { margin-left:5.0em; }
:lang(en) .uLisCover.uLvat .uLseparator:nth-child(6):before { content:'VAT'; }
:lang(en) .uLisCover.uLnet .uLseparator:nth-child(6):before { content:'net'; }
:lang(de) .uLisCover.uLvat .uLseparator:nth-child(6):before { content:'MwSt.'; }
:lang(de) .uLisCover.uLnet .uLseparator:nth-child(6):before { content:'Netto'; }

.uLisCover.uLiban .uLseparator:nth-child(3):before { content: 'cc'; }
:lang(en) .uLisCover.uLiban .uLseparator:nth-child(5):before { content: 'BIN'; }
:lang(en) .uLisCover.uLiban .uLseparator:nth-child(7):before { content: 'account'; }
:lang(de) .uLisCover.uLiban .uLseparator:nth-child(5):before { content: 'BLZ'; }
:lang(de) .uLisCover.uLiban .uLseparator:nth-child(7):before { content: 'Konto'; }
:lang(en) .uLisCover.uLtowns .uLseparator:nth-child(3):before { content: 'code'; }
:lang(en) .uLisCover.uLtowns .uLseparator:nth-child(5):before { content: 'town'; }
:lang(de) .uLisCover.uLtowns .uLseparator:nth-child(3):before { content: 'Plz'; }
:lang(de) .uLisCover.uLtowns .uLseparator:nth-child(5):before { content: 'Ort'; }
:lang(en) .uLisCover.uLdate .PDAYS.uLseparator:before { content: 'days'; }
:lang(de) .uLisCover.uLdate .PDAYS.uLseparator:before { content: 'Tage'; }
.uLisCover.uLdate .PDAYS.uLseparator
, .uLisCover.uLtowns .uLseparator:nth-child(4)
, .uLisCover.uLtowns .uLseparator:nth-child(6) {
   vertical-align: top;
   font-size: 1em;
}

span.uLindicatorBar {
  box-sizing:border-box;
  display: block;
  width: 100%;
  margin-top: 0.3em;
  height: 1.2em;
  position: relative;
  background: #555555;
  border-radius: 1.4em;
  padding: 0.4em;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
span.uLindicatorBar.uLpassword {
  margin: 0 1.4em 0 0.2em;
  bottom: 1.0em;
  height: 0.3em;
  border-radius: 0.6em;
  background-color: red;
  width: 1%;
}
span.uLindicatorBar.uLpassword.uLsuccess {
  background: repeating-linear-gradient(
    45deg,
    green,
    #00FF00 10px,
    #465298 10px
  );
}

div.uLsearcher:after,
div.uLcompleter:after {
   content: '';
   position: absolute;
   right: 0.3em;
   bottom: 0.3em;
   width: 2.0em;
   height: 2.0em;
   z-index: 1;
   background-position-x: -58em!important;
}
div.uLcompleter:after {
   background-position-x: -60em!important;
}

fieldset div.uLbutton {
   height: 100%;
   vertical-align: bottom;
}

.uLisCover .uLbutton {
   width: 2em;
   height: 2em;
}

#uLsecDragg,
#uLhamburger,
#uLselector button,
#uLfastfeeder button,
#uLjumper button,
fieldset.uLdynlist>button,
div.uLbutton button,
form legend button,
.uLisCover button {
   font-size: 1em;
   border: none;
   position: relative;
   display: inline-block;
   font-weight: bold;
   border-radius: 0.2em;
   background-color: #b8bac7;
   width: 1.9em;
   height: 1.9em;
   padding: 0;
   margin: 0 0.1em 0.1em 0;
}
#uLsecDragg { /* all #uLsecDragg: special treatment: FF don't dragg buttons! :] */
   position: absolute;
   top: 0;
   left:100%;
   width: 2.1em;
   height: 2.1em;
}
#uLselector button:hover, #uLselector button:active, #uLselector button:focus,
#uLfastfeeder button:hover, #uLfastfeeder button:active, #uLfastfeeder button:focus,
#uLjumper button:hover, #uLjumper button:active, #uLjumper button:focus,
div.uLbutton button:hover, div.uLbutton button:active, div.uLbutton button:focus,
form .uLisCover button:hover, form .uLisCover button:active,
form .uLisCover button:focus {
   margin: 0.1em 0 0 0.1em;
}
#uLsecDragg:focus
#uLhamburger:focus,
#uLselector button:focus,
#uLfastfeeder button:focus,
#uLjumper button:focus,
fieldset.uLdynlist>button:focus,
div.uLbutton button:focus,
form legend button:focus,
.uLisCover button:focus {
   animation: buttonfocus 4s linear infinite!important;
}
form .uLisCover button {   /* center formated input button */
   display: inline-block;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}
/* container for little buttons in selector */
#uLselector div.uLhelp { margin: 0; padding: 0; background: none; }
#uLselector div.uLhelp button, #uLsecDragg {
   float: left;
   padding: 0;
   margin: 0 1px 0 4px;
}
#uLselector div.uLhelp button:hover, #uLsecDragg:hover { margin: 0 0 0 5px; }

body.uLhiddenNavi .uLmainnavigation {
   width: 0;
   display: none;
}
#uLhamburger {
   display: inline-block!important;
   position: relative;
   flex: none;
   margin-top: -2.1em;
   left: 0.2em;
   top: 3.1em;
   z-index: 90;
   border: 0.1em solid #ffffff;
   width: 2.1em;
   height: 2.1em;
}

form.uLcloud >fieldset:first-of-type:before
, form.uLcloud >fieldset:first-of-type:after
, form.uLcloud >fieldset:last-of-type:before
, form.uLcloud >fieldset:last-of-type:after {
   position: absolute;
   color: #666666;
   z-index: 5;
}
form.uLcloud >fieldset:first-of-type:before
, form.uLcloud >fieldset:last-of-type:before {
   content: '☁︎';
   font-size: 2.0em;
   font-family: Arial Unicode MS,sans-serif;
   top: -0.7em;
   left: -0.9em;
   width: 1.0em;
   height: 0.8em;
   padding: 0.1em;
   border: 1px dashed #666666;
   background-color: #fefefe;
   border-radius: 0.3em;
}
form.uLcloud >fieldset:first-of-type:after
, form.uLcloud >fieldset:last-of-type:after {
   content: '✔︎';
   color: green;
   font-weight: bold;
   font-size: 1.0em;
   top: -0.7em;
   left: -1.0em;
   background-color: #fefefe;
   padding: 0 0 0 0.1em;
}
form.uLcloud.uLchanged >fieldset:first-of-type:after
, form.uLcloud.uLchanged >fieldset:last-of-type:after {
   content: '✘';
   color: red;
   padding: 0;
   background-color: transparent;
}
form.uLcloud >fieldset:last-of-type:before {
   top: auto;
   bottom: -0.2em;
   left: -0.9em;
}
form.uLcloud >fieldset:last-of-type:after {
   top: auto;
   bottom: -0.1em;
   left: -1.0em;
}
/* for toggleSelect as slide switch */
.uLisCover.uLtoggleSelect input {
   width: 100%!important;
}
.uLisCover.uLtoggleSelect.uLactive input {
   text-align: right!important;
}
.uLisCover.uLtoggleSelect span.uLbutton {
   box-sizing:border-box;
   display: block;
   position: absolute!important;
   bottom: 0;
   right: 0;
   margin: 0;
   background: none!important;
   border: none!important;
}
.uLisCover.uLtoggleSelect.uLactive span.uLbutton {
   left: 0;
}
.uLisCover button.uLgrouper
, .uLisCover button.uLinformer
, .uLisCover button.uLtoggleSelect {
   background-image: none!important;
}
button.uLtoggleSelect:hover {
   opacity: 0.75;
}
div.uLhasCover.uLgrouper {
   margin-left: -1.2em!important;
   margin-right: 0!important;
}
.uLisCover button.uLgrouper:after
, .uLisCover button.uLinformer:after {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 0.1em;
   content: '\2795';
}
.uLisCover button.uLinformer:after {
   font-size: 1.8em;
   padding-top: 0;
   content: '\2139';
}

button.uLminimizer {
   position: absolute!important;
   top: 0.1em;
   right: 0.1em;
   background-position-x: 0!important;
}
button.uLjumper { background-position-x: -2em!important; }
button.uLsizeit { background-position-x: -4em!important; }
button.uLcloseit { background-position-x: -6em!important; }

button.uLsingleSelect { background-position-x: -8em!important; }
button.uLmultiSelect { background-position-x: -10em!important; }
button.uLselect,
button.uLinvert { background-position-x: -14em!important; }
button.uLclear { background-position-x: -12em!important; }

button.uLfile { background-position-x: -17.9em!important; }
button.uLcalendar { background-position-x: -16em!important; }
button.uLpassword { background-position-x: -44em!important; }
button.uLunit { background-position-x: -42em!important; }
button.uLworld { background-position-x: -40em!important; }
button.uLdays { background-position-x: -20em!important; }
button.uLdays.uLlocked { background-position-x: -30em!important; }
button.uLfixpin { background-position-x: -28em!important; }
button.uLfixpin.uLlocked { background-position-x: -30em!important; }
button.uLclock, button.uLswitch { background-position-x: -36em!important; }
button.uLclock.uLlocked,
button.uLswitch.uLlocked { background-position-x: -38em!important; }
button.uLtoggle { background-position-x: -24em!important; }
button.uLtoggle.uLlocked { background-position-x: -26em!important; }
/*
button.uLlock { background-position-x: -32em!important; }
button.uLlock.uLlocked { background-position-x: -34em!important; }
*/
button.uLeye { background-position-x: -46em!important; }
button.uLtime { background-position-x: -48em!important; }
button.uLhelp { background-position-x: -50em!important; }
button.uLsound { background-position-x: -52em!important; }
button.uLmsghold { background-position-x: -54em!important; }
button.uLseminar { background-position-x: -56em!important; }
#uLsecDragg { background-position-x: -62em!important; }
button.uLfilter,
button.uLfilterInvers,
button.uLshowAll,
#uLhamburger { background-position-x: -64em!important; } 

button.uLsortup:after,
button.uLsortdown:after,
button.uLinvertIcon:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   vertical-align: middle;
   color: #444444;
   padding-top: 0.2em;
   font-weight: bold;
}
button.uLsortup,
button.uLsortdown,
button.uLsortup:after,
button.uLsortdown:after {
   background-position-x: -500em!important;
}

button.uLsortup:after { content: '\2191'; font-size: 140%; }
button.uLsortdown:after { content: '\2193'; font-size: 140%; }

button.uLinvertIcon:after {
   float: left;
   filter: invert( 100% );
}

button.uLfilter.uLinvertIcon:after { background-position-x: -64em!important; }
button.uLinvert.uLinvertIcon:after { background-position-x: -14em!important; }

#uLsecDragg.uLlocked:before
, button.uLshowAll:before
, button.uLseminar.uLlocked:before
, button.uLmsghold.uLlocked:before
, button.uLsound.uLlocked:before
, #uLsecDragg.uLlocked:after
, button.uLshowAll:after
, button.uLseminar.uLlocked:after
, button.uLmsghold.uLlocked:after
, button.uLsound.uLlocked:after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   background: linear-gradient( to left bottom, transparent 46%, white 48%, white 52%, transparent 54% );
}
#uLsecDragg.uLlocked:after
, button.uLshowAll:after
, button.uLseminar.uLlocked:after
, button.uLmsghold.uLlocked:after
, button.uLsound.uLlocked:after {
   background: linear-gradient( to left top, transparent 46%, white 48%, white 52%, transparent 54% );
}

.uLelasticCenter {
  height: 0.2em;
  width: 100%;
  border: none;
  background-color: #dddddd;
  z-index: 501;
}
.uLelasticCenter:before, .uLelasticCenter:after {
  position: absolute;
  height: 0.2em;
  content: '';
  width: 49%;
  left: 0;
  background-color: red;
}
.uLelasticCenter:after {
  left: 51%;
  background-color: green;
}

.uLelasticTrack, .uLelasticHead {
  width: 0.15em;
  height: 1.4em;
  background-color: silver;
  border:none;
  box-shadow: 2px 2px 2px #666;
  z-index: 501;
}
.uLelasticHead, .uLelasticCenter {
  background-color: green;
  border-color: green;
}
.uLelasticHead.uLminus {
  background-color: red;
}

.uLcovered {
  position: absolute;
  left: 0px;
  bottom: 0px;
  visibility:hidden;
  opacity: 0;
  z-index: 0;
}
.uLcovered[type="file"] {
  visibility: visible;
  opacity: 0;
  z-index: 2!important;
}
div.uLhasCover .uLisCover input[onclick],
div.uLhasCover .uLisCover textarea[onclick],
span.uLmultiSelect input, span.uLmultiSelect textarea, span.uLsingleSelect input,
.uLisCover.uLtoggleSelect input,
.uLcovered[type="file"] {
  cursor: hand;
  cursor: pointer;
}
.uLmodal form[data-ul] > fieldset>div.uLfilter {
  font-size: 0.9em;
  z-index: 101;
  position:absolute;
  top:-1.4em;
  right:0.8em;
  width: auto;
  height: auto;
  background-color: inherit;
  border-radius: inherit;
  border-top: inherit;
}
.uLmodal form[data-ul] > fieldset>div.uLfilter:after { content: none; }
.uLmodal form[data-ul] > fieldset>div.uLfilter:before {
  /* ¥⩔♈︎⋎ᴪ⎀⑂ */
  position: relative;
  top: 0.2em;
  content: '⎀';
  font-size: 210%;
  margin-right: 0.3em;
}

.uLcovered:focus+.uLcover{ border-color: #666 !important;}

/* *********************************************************************** 
 * definitions for useLib controls
 * ******************************/
.uLnoUserSelect {					/* control is not selectable for i.e. copy */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

#uLselector {
   font-size: 1em;
	line-height: 10px;
	position: fixed;
	top: 0;
	right: 0;
	padding: 3px 1px 4px 1px;
   box-shadow: -3px 3px 4px #444;
   cursor: default;
	z-index: 5;
}
#uLselector div:first-child {
	width: 140px;
}
#uLselector div {
	font-size: 1em;
	float: left;
	margin-left: 3px; 
}
#uLselector h1 {
  font-size: 12px;
  margin-bottom: 4px;
}
#uLsizer {
  font-weight: bold;
  margin-bottom: 2px;
  cursor: pointer;
}
#uLsizer span {
  height: 25px;
  line-height: 16px;
  vertical-align: top;
  border: 1px solid #838383;
  background-color: #ebebeb;
  display:inline-block;
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
}
#uLsizer span.uLsizer {
  background-color: #ffffff;
  font-size: 18px;
  line-height: 12px;
  width: 90px;
}
#uLsizer span:first-child {
  font-family: "Lucida Console",Monaco,monospace;
  font-size: 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right:none;
  width: 20px;
}
#uLsizer span:last-child {
  font-family: "Lucida Console",Monaco,monospace;
  font-size: 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  width: 20px;
}

#uLselector label {
	display: block;
	margin: 1px 0 0 0;
}
#uLselector select {
	width: 65px;
	margin-bottom: 0.5em;
	border: 2px inset #ccc;
}
#uLselector a {
	text-decoration: none;
}

#uLcopyright {
	width: 100%;
	vertical-align:top;
	line-height: 0.7em;
}
#uLcopyright p
, #uLcopyright a {
   display: block;
	font-size: 0.7em;
	color: #668;
	padding-right: 3px;
}

#uLkeyStroke {
   position: fixed;
   display: none;
   left: 50%;
   bottom: 5%;
   min-width: 3.5em;
   height: 3.5em;
   border-radius: 0.4em;
   background-color: #ffffff;
   opacity: 0.75;
   color: #000000;
   font-size: 2.0em;
   padding: 1.2em 0.3em 0;
   text-align: center;
   box-shadow: 0 0 0.4em 0.2em rgba(0,0,0,0.6) inset;
   z-index: 1999;
}

#uLkeyStroke.uLclose { animation: halfout 2s 1; }
#uLkeyStroke.uLshow { display: block!important; }

#uLkeyStroke span {
   position: absolute;
   font-size: 0.6em;
   font-weight: bold;
   top: 0.6em;
   right: 0.6em;
}
#uLkeyStroke div {
   position: absolute;
   font-size: 0.5em;
   left: 0.6em;
   bottom: 0.6em;
}

#uLheadLight {
   z-index: 2000;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #000000;
   opacity: 0.20;
   pointer-events: none; 
}
#uLheadLight div {
   position: absolute;
   height: 16em;
   width: 16em;
   border-radius: 100%;
   background-color: rgba(255,255,255,0.40);
   box-shadow: 0 0 2.0em 1.5em rgba(255,255,255,0.40);
}

#uLjumper {
	color: #335;
	position: fixed;
	bottom: 0;
	right: 0;
   width: 27px;
   height: 27px;
   padding: 3px 0 0 3px;
   box-shadow: -3px 3px 4px #444;
   cursor: default;
	z-index:5;
}

#uLfastfeeder {
   font-size: 12px;
	color: #335;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 2px 0.4em 0.8em;
   box-shadow: 3px -3px 4px #444;
	z-index:200;
   cursor: default;
}
#uLfastfeeder div:first-child {
	font-size: 1em;
	min-height: 30px;
	margin: 1px 0 0 0;
}
#uLfastfeeder label {
    line-height: 18px;
}
.uLfastLabel {
	position: absolute!important;
	top: 0;
	right: 4em;
   text-align: right;
}
#uLfastLabel {
   display: inline-block;
   width: auto;
}
.uLfastLabel label {
   display: inline-block;
   vertical-align: top;
   padding: 0.2em 0 0 0.3em;
}
#uLfastfeeder textarea {
	font-size: 16px;
	padding: 0.3em;
	width: 20.0em;
}
.uLminimized {
	padding: 1px 2px 0 2px!important;
	width: 26px;
	height: 27px!important;
}
.uLminimized div {
	display: none;
}

#uLclearer, #uLgrouper {
   position:absolute;
   right: -1.0em;
   height: 1.4em;
   width: 1.4em;
   z-index:105;
}
#uLclearer { bottom: 0; }
#uLgrouper { top: 0; }

#uLclearer + input[type="password"].uLcovered { bottom: 2.7em; }

#uLclearer:after, #uLgrouper:after {
   position: absolute;
   top: 0.0em;
   left: 0.1em;
   font-size: 1.0em;
   height: 1.4em;
   width: 1.4em;
   font-weight: bold;
   color: #ffffff;
   content: '\00D7'; /* '\2573'; */
   text-align: center;
   background-color: #666666;
   border-radius: 0.7em;
}
#uLgrouper:after {
   content: '';
   background-size: 0.8em;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   /* minitrash.png */
   background-image: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAMAAACHgmeRAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURf///////1V89WwAAAACdFJOU/8A5bcwSgAAAEFJREFUeNpiYIABgABiYIQBgABCsAACCCEJEEAMDIxQBBBACBZAACFYAAGEYAEEEIIFEEAIFkAAIVgAAYQwDSDAAAsxAChs+hxbAAAAAElFTkSuQmCC' );
}

#uLminiKeyboard {
  font-size: 1.3em;
  width: 100%;
  padding: 0 0.3em 0.3em;
  margin-top: -0.3em;   /* minimize distance to cover with margin-bottom: 0.5em; */
  background-color: #ebebeb;
  border: 1px solid #838383;
  border-top: none;
  cursor: pointer;
  border-radius: 0 0 0.6em 0.6em;
  display: none;
}
#uLminiKeyboard div, #uLminiKeyboard .uLcloser:after {
  display: inline-block;
  background-color: #ffffff!important;
  width:auto;
  margin: 0 0.2em 0 0;
  border:solid 1px black;
  border-radius: 0.3em;
  opacity: 0.70;
}
#uLminiKeyboard div span {
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  width: 1.3em;
  height: 1.3em;
  padding: 0;
  margin: 0.15em;
}
#uLminiKeyboard div:hover {
  opacity: 1;
}
#uLminiKeyboard .uLcloser {   /* area is bigger than closer sign defined in :after */
  float: right;
  width: 2em!important;
  height: 100%!important;
  border: none!important;
  background-color: transparent!important;
}
#uLminiKeyboard .uLcloser:after {
  font-size: 0.9em;
  content: '\2716';
  text-align: center;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  right: 0;
}
#uLminiCursor {
  position: absolute;
  width: 0.15em;
  height: 1.2em;
  background-color: #629EF7;
  opacity: 1;
  /*margin: 0.2em 0 0 1px;*/
  animation: blink 1s linear infinite;
  display: none;
}
.uLminiCursor { /* to calculate cursor steps, should be the same font as in input fields */
  font-family: "Lucida Console",Monaco,monospace;
  font-size: 1em;
}
#uLminiKeyboard.uLshow, #uLminiCursor.uLshow{
  display:block!important;
}

/* *********************************************************************** 
 * definitions for (useLib generated) wiki elements
 * ******************************/

.uLmainContent ul
, .uLmainContent ol
, .uLmainContent li { line-height:1.3em; }
.uLmainContent ul
, .uLmainContent ol { padding: 0.4em 10px 0 0; }
.uLmainContent li {
  list-style-position: outside;
  padding-top: 0.4em;
  margin-left: 1.3em;
}

.uLmainContent ol {
   counter-reset: section;
   list-style-type: none;
}
.uLmainContent ol li:before {
  counter-increment: section;
  content: counters(section, ".") ". "; 
}
.uLmainContent ol>li.uLindent:before {
  visibility: hidden;
  counter-increment: none;
}
.uLmainContent li.uLindent {
    list-style-type: none;
    text-indent: 0;
}

dl {
   border: 3px double #ccc;
   padding: 0.5em;
   margin-bottom: 0.7em!important;
}
dt {
   float: left;
   clear: left;
   width: 10em;
   text-align: right;
   font-weight: bold;
}
/* dt:after { content: ":"; } */
dd {
  margin: 0 0 0 11.7em;
  padding: 0 0 0.5em 0;
}
dl.uLdl-1 dt { width: 1em; } dl.uLdl-1 dd { margin-left: 2.7em; }
dl.uLdl-2 dt { width: 2em; } dl.uLdl-2 dd { margin-left: 3.7em; }
dl.uLdl-3 dt { width: 3em; } dl.uLdl-3 dd { margin-left: 4.7em; }
dl.uLdl-4 dt { width: 4em; } dl.uLdl-4 dd { margin-left: 5.7em; }
dl.uLdl-5 dt { width: 5em; } dl.uLdl-5 dd { margin-left: 6.7em; }
dl.uLdl-6 dt { width: 6em; } dl.uLdl-6 dd { margin-left: 7.7em; }
dl.uLdl-7 dt { width: 7em; } dl.uLdl-7 dd { margin-left: 8.7em; }
dl.uLdl-8 dt { width: 8em; } dl.uLdl-8 dd { margin-left: 9.7em; }
dl.uLdl-9 dt { width: 9em; } dl.uLdl-9 dd { margin-left: 10.7em; }
dl.uLdl-11 dt { width: 11em; } dl.uLdl-11 dd { margin-left: 12.7em; }
dl.uLdl-12 dt { width: 12em; } dl.uLdl-12 dd { margin-left: 13.7em; }
dl.uLdl-13 dt { width: 13em; } dl.uLdl-13 dd { margin-left: 14.7em; }
dl.uLdl-14 dt { width: 14em; } dl.uLdl-14 dd { margin-left: 15.7em; }
dl.uLdl-15 dt { width: 15em; } dl.uLdl-15 dd { margin-left: 16.7em; }
dl.uLdl-16 dt { width: 16em; } dl.uLdl-16 dd { margin-left: 17.7em; }
dl.uLdl-17 dt { width: 17em; } dl.uLdl-17 dd { margin-left: 18.7em; }
dl.uLdl-18 dt { width: 18em; } dl.uLdl-18 dd { margin-left: 19.7em; }
dl.uLdl-19 dt { width: 19em; } dl.uLdl-19 dd { margin-left: 20.7em; }
dl.uLdl-20 dt { width: 20em; } dl.uLdl-20 dd { margin-left: 21.7em; }

td { border:1px solid #000; vertical-align:top; overflow:hidden; }
td.center { text-align: center; }
td.right { text-align: right; }

u { text-decoration:none; border-bottom: solid 1px #000066; }
.uLstrike { text-decoration:line-through; background-color: rgba(255,0,0,0.2); }
.uLmark { background-color: #fce689 }
kbd {
  font-size: 1.1em;
  font-weight: bold;
  background-color:#f1edf4;
  border:0.2em outset #f1edf4;
  border-radius: 0.3em; 
  padding:0.1em;
  vertical-align:top;
}
q { quotes: "\201E" "\201C"; }
.uLtt { background-color:#E3E3E3;
  font-family: 'Lucida Sans Typewriter','Lucida Console',monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 90%;
  font-style:italic;
}

div.uLquote, div.uLexample, div.uLexample, div.uLtip {
   margin: 0.5em 1em;
}
div.uLexample, div.uLtip {
   padding: 0.3em 0 0.2em 2.5em;
}
div.uLexample { border-left: dotted 2px #555555; }
div.uLexample:before { font-size: 120%; margin-left:-1.6em; content: '\2692'; float:left;} 
div.uLtip:before { font-size: 120%; margin-left:-1.6em; content: '\1F449'; float:left;} 
span.uLquote:before,
div.uLquote *:first-child:before { font-family:Arial,sans-serif; content:"\"... "; }
span.uLquote:after,
div.uLquote *:last-child:after { font-family:Arial,sans-serif; content:" ...\""; }
code, pre {
   margin-top: 0.8em;
   font-family: 'Lucida Sans Typewriter','Lucida Console',monaco,'Bitstream Vera Sans Mono',monospace;
   font-size: 1em;
   white-space: pre;
   overflow: auto;
}
code {
  max-height: 15em;
}
