
@import 'useLib/useLib.css';

#useLibDesigner:before { content: "//eyJlbWFpbCI6ImZyZWVkZXNpZ25AdXNlLW9wdGltaWVydW5nLmRlIiwiZGUiOiJvbGRzdHlsZSIsImVuIjoib2xkc3R5bGUiLCJjb3B5cmlnaHQiOiJ1c2VMaWIsIENvbG9nbmUiLCJmaWxlbmFtZSI6Im9sZHN0eWxlLmNzcyIsImRvbWFpbiI6IiIsImNyZWF0aW9uIjoxNjM5MTY3NzIzMDY5LCJ2ZXJzaW9uIjoxLCJjaGVja3N1bSI6MTk0ODJ9";
/*
	email: freedesign@use-optimierung.de
	de: oldstyle
	en: oldstyle
	copyright: useLib, Cologne
	filename: oldstyle.css
	domain: 
	creation: 1639167723069
	version: 1
	checksum: 19482
*/
}

body {
   /* uLdef: uLbody: background */
   background-color: #8C909E;
}

h1 {
   color: inherit;
   /* uLdef: uLh1 : textdef */   
   font-weight: bold;
   font-size: 1.5em;
   line-height: 1.3em;
   padding-bottom: 0.5em;
   padding-right: 0;
   /* uLadd */
   /* uLshadow: none: uLh1 */   
   text-shadow: none;
}
h2 {
   color: inherit;
   /* uLdef: uLh2 : textdef */   
   font-weight: bold;
   font-size: 1.2em;
   line-height: 1.3em;
   padding-bottom: 0.2em;
   padding-right: 0;
   /* uLadd */
   /* uLshadow: none: uLh2 */   
   text-shadow: none;
}
h3 {
   color: inherit;
   /* uLdef: uLh3 : textdef */   
   font-weight: bold;
   font-size: 1.1em;
   line-height: 1.3em;
   padding-bottom: 0.2em;
   padding-right: 0;
   /* uLadd */
   /* uLshadow: none: uLh3 */   
   text-shadow: none;
}
h4 {
   color: inherit;
   /* uLdef: uLh4 : textdef */   
   font-weight: bold;
   font-size: 1.0em;
   line-height: 1.3em;
   padding-bottom: 0.2em;
   padding-right: 0;
   /* uLadd */
   /* uLshadow: none: uLh4 */   
   text-shadow: none;
}
h5 {
   color: inherit;
   /* uLdef: uLh5 : textdef */   
   font-style: normal;
   font-size: 1.0em;
   line-height: 1.3em;
   padding-bottom: 1.0em;
   padding-right: 0;
   /* uLadd */
   /* uLshadow: none: uLh5 */   
   text-shadow: none;
}

p, span.uLpara {
   color: inherit;
   /* uLdef: uLp : textdef */   
   font-style: normal;
   font-size: 1.0em;
   line-height: 1.4em;
   padding-bottom: 0.8em;
   padding-right: 1.0em;
   /* uLadd */
   /* uLshadow: none: uLp */   
   text-shadow: none;
}
li {
   color: inherit;
   /* uLdef: uLli : textdef */   
   font-style: normal;
   font-size: 1.0em;
   line-height: 1.5em;
   padding-bottom: 0.7em;
   padding-right: 1.0em;
   /* uLadd */
   /* uLshadow: none: uLli */   
   text-shadow: none;
}
/* layout frames **********************************************/
/* outer frame */

/* REMARK: if align-self == flex-start height is steerable */

.uLlayout {
   /* uLdef: uLlayout: landmarkdef */   
   top: 0;
   left: 0;
   height: auto;
   width: auto;
   align-self: none;
   margin-left: 1.2em;
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-left: 2.4em;
   padding-top: 1.4em;
   padding-right: 1.2em;
   padding-bottom: 2.4em;
   line-height: 1.2em;
}
.uLlayout:after {
   /* uLmirror: uLlayout: row */   
   height: 0;
}
.uLlayout>.uLdesign {
   /* uLdesign: layout: uLlayout */   
   color: transparent;
   border-radius: 0.5em;
   background-color: #d2232a;
   border-color: #ffffff;
   border-width: 0.2em;
   border-style: solid;
   /* uLshadow: none: layout */   
   box-shadow: none;
   /* uLdef: uLlayout: landmarkdef */   
   /* uLadd */
}

.uLlayout>.uLdesign span span {
   /* uLimage: uLlayout: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLlayout>.uLdesign span span span {
   /* uLimage: uLlayout: topEnd: {"src":""} */
	background-image: none;
}
.uLlayout>.uLdesign {
   /* uLimage: uLlayout: centerStart: {"src":""} */
	background-image: none;
}
.uLlayout>.uLdesign span {
   /* uLimage: uLlayout: centerEnd: {"src":""} */
	background-image: none;
}
.uLlayout>.uLdesign span span span span {
   /* uLimage: uLlayout: bottomStart: {"src":""} */
	background-image: none;
}
.uLlayout>.uLdesign span span span span span {
   /* uLimage: uLlayout: bottomEnd: {"src":""} */
	background-image: none;
}

.uLmainContent {
   z-index: 1;
   /* uLdef: uLmain: landmarkdef */
   display: block;
   top: 0;
   left: 0;
   height: auto;
   width: auto;
   align-self: none;
   margin-left: 0;
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-left: 1.4em;
   padding-top: 1.0em;
   padding-right: 1.4em;
   padding-bottom: 1.0em;
   line-height: 1.2em;
   /* uLmirror: uLmain: width */
   min-width: auto;
   /* uLmirror: uLmain: width */
   max-width: auto;
}
/* inner frame */
.uLmainContent .uLdesign {
   /* uLdesign: main: uLmain */   
   color: transparent;
   border-radius: 0.5em;
   background-color: #ffffff;
   border-color: #8c909e;
   border-width: 0em; 
   border-style: solid;
   /* uLshadow: none: main */   
   box-shadow: none;
   /* uLdef: uLmain: landmarkdef */
   /* uLadd */
   /*opacity: 0.7;*/
}

.uLmainContent>.uLdesign span span {
   /* uLimage: uLmain: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLmainContent>.uLdesign span span span {
   /* uLimage: uLmain: topEnd: {"src":""} */
	background-image: none;
}
.uLmainContent>.uLdesign {
   /* uLimage: uLmain: centerStart: {"src":""} */
	background-image: none;
}
.uLmainContent>.uLdesign span {
   /* uLimage: uLmain: centerEnd: {"src":""} */
	background-image: none;
}
.uLmainContent>.uLdesign span span span span {
   /* uLimage: uLmain: bottomStart: {"src":""} */
	background-image: none;
}
.uLmainContent>.uLdesign span span span span span {
   /* uLimage: uLmain: bottomEnd: {"src":""} */
	background-image: none;
}

/* header */
.uLheader {
   z-index: 1;
   overflow: hidden;
   /* uLdef: uLbanner: landmarkdef */
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 9.0em;
   align-self: none;
   margin-left: 0;
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-left: 1.2em;
   padding-top: 1.2em;
   padding-right: 20.0em;
   padding-bottom: 1.0em;
   line-height: 1.2em;
}
.uLheader:after {
   /* uLmirror: uLheader: row */   
   height: 0;
}
/* head frame */
.uLheader>.uLdesign {
   /* uLdesign: banner: uLbanner */   
   color: transparent;
   border-radius: 0;
   background-color: #ffffff;
   border-color: #dddddd;
   border-width: 0.2em; 
   border-style: solid;
   /* uLshadow: none: banner */   
   box-shadow: none;
   /* uLdef: uLbanner: landmarkdef */   
   /* uLadd */
}
.uLheader>.uLdesign span span {
   /* uLimage: uLbanner: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLheader>.uLdesign span span span {
   /* uLimage: uLbanner: topEnd: {"src":""} */
	background-image: none;
}
.uLheader>.uLdesign {
   /* uLimage: uLbanner: centerStart: {"src":""} */
	background-image: none;
}
.uLheader>.uLdesign span {
   /* uLimage: uLbanner: centerEnd: {"src":""} */
	background-image: none;
}
.uLheader>.uLdesign span span span span {
   /* uLimage: uLbanner: bottomStart: {"src":""} */
	background-image: none;
}
.uLheader>.uLdesign span span span span span {
   /* uLimage: uLbanner: bottomEnd: {"src":""} */
	background-image: none;
}

.uLheader .uLlogo {
   float: left;
   background-repeat: no-repeat;
   background-size: contain;
   /* uLdef: uLlogo: imagedef */    
   margin-right: 1.8em;
   width: 18.0em;
   height: 100%;
   /* uLadd */
   /* uLimage: uLlogo: image: {"src":"useLib/designs/vorlagen/use-logo.png"} */
	background-image: url("useLib/designs/vorlagen/use-logo.png");
}
.uLheader h1 {
   /* uLdef: uLhead: textdef */    
   color: #1a1a1a;
   font-weight: bold;
   font-size: 1.5em;
   line-height: 1.2em;
   padding-bottom: 0.6em;
   /* uLadd */
   /* uLshadow: none: uLhead */   
   text-shadow: none;
   /* uLmirror: uLheadInside: right */
   padding-right: 1.6em;
}
.uLheader h2 {
   /* uLdef: uLheadInside : textdef */    
   color: #1a1a1a;
   font-weight: bold;
   font-size: 1.2em;
   line-height: 1.3em;
   padding-bottom: 0.2em;
   padding-right: 1.6em;
   /* uLadd */
   /* uLshadow: none: uLheadInside */   
   text-shadow: none;
}
.uLheader p {
   /* uLdef: uLheadP : textdef */    
   color: #1a1a1a;
   font-weight: bold;
   font-size: 0.8em;
   line-height: 1.3em;
   padding-bottom: 0.5em;
   padding-right: 1.6em;
   /* uLadd */
   text-align:right;
   /* uLshadow: none: uLheadP */   
   text-shadow: none;
}

/* article */
.uLarticle {
   /* uLdef: uLarticle: landmarkdef */
   display: none;
   top: 0;
   left: 0;
   height: auto;
   width: auto;
   align-self: none;
   margin-left: 0;
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-left: 1.4em;
   padding-top: 1.0em;
   padding-right: 1.4em;
   padding-bottom: 1.0em;
   line-height: 1.2em;
   /* uLmirror: uLarticle: width */
   min-width: auto;
   /* uLmirror: uLarticle: width */
   max-width: auto;
}

.uLarticle .uLdesign {
   /* uLdesign: article: uLarticle */   
   color: transparent;
   border-radius: 0.5em;
   background-color: #ffffff;
   border-color: #8c909e;
   border-width: 0.2em; 
   border-style: solid;
   /* uLshadow: none: article */   
   box-shadow: none;
   /* uLdef: uLarticle: landmarkdef */
   /* uLadd */
}

.uLarticle>.uLdesign span span {
   /* uLimage: uLarticle: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLarticle>.uLdesign span span span {
   /* uLimage: uLarticle: topEnd: {"src":""} */
	background-image: none;
}
.uLmainContent>.uLdesign {
   /* uLimage: uLarticle: centerStart: {"src":""} */
	background-image: none;
}
.uLarticle>.uLdesign span {
   /* uLimage: uLarticle: centerEnd: {"src":""} */
	background-image: none;
}
.uLarticle>.uLdesign span span span span {
   /* uLimage: uLarticle: bottomStart: {"src":""} */
	background-image: none;
}
.uLarticle>.uLdesign span span span span span {
   /* uLimage: uLarticle: bottomEnd: {"src":""} */
	background-image: none;
}

/* contentinfo */
.uLcontentinfo {
   /* uLdef: uLcontentinfo: landmarkdef */
   display: none;
   top: 0;
   left: 0;
   height: auto;
   width: auto;
   align-self: none;
   margin-left: 0;
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-left: 1.4em;
   padding-top: 1.0em;
   padding-right: 1.4em;
   padding-bottom: 1.0em;
   line-height: 1.2em;
   /* uLmirror: uLcontentinfo: width */
   min-width: auto;
   /* uLmirror: uLcontentinfo: width */
   max-width: auto;
}
.uLcontentinfo:after {
   /* uLmirror: uLcontentinfo: row */   
   height: 0;
}
.uLcontentinfo .uLdesign {
   /* uLdesign: contentinfo: uLcontentinfo */   
   color: transparent;
   border-radius: 0.5em;
   background-color: #ffffff;
   border-color: #8c909e;
   border-width: 0.2em; 
   border-style: solid;
   /* uLshadow: none: contentinfo */   
   box-shadow: none;
   /* uLdef: uLcontentinfo: landmarkdef */
   /* uLadd */
}

.uLcontentinfo>.uLdesign span span {
   /* uLimage: uLcontentinfo: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLcontentinfo>.uLdesign span span span {
   /* uLimage: uLcontentinfo: topEnd: {"src":""} */
	background-image: none;
}
.uLmainContent>.uLdesign {
   /* uLimage: uLcontentinfo: centerStart: {"src":""} */
	background-image: none;
}
.uLcontentinfo>.uLdesign span {
   /* uLimage: uLcontentinfo: centerEnd: {"src":""} */
	background-image: none;
}
.uLcontentinfo>.uLdesign span span span span {
   /* uLimage: uLcontentinfo: bottomStart: {"src":""} */
	background-image: none;
}
.uLcontentinfo>.uLdesign span span span span span {
   /* uLimage: uLcontentinfo: bottomEnd: {"src":""} */
	background-image: none;
}

body.uLhiddenNavi .uLmainContent .uLdesign {
   /* uLmirror: uLnavigation: left */
   padding-left: 0.7em;
}

/* navigation frame */
.uLmainnavigation {
   z-index: 2;
   /* uLdef: uLnavigation: landmarkdef */   
   display: block;
   top: 0;
   left: 0;
   width: 15.3em;
   height: auto;
   align-self: none;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-left: 1.2em;
   padding-top: 0.7em;
   padding-right: 1.2em;
   padding-bottom: 0.3em;
   line-height: 1.2em;
   /* uLmirror: uLnavigation: width */
   min-width: 15.3em;
   /* uLmirror: uLnavigation: width */
   max-width: 15.3em;
}

.uLmainnavigation .uLdesign {
   /* uLdesign: navigation: uLnavigation */   
   color: #d2232a;
   border-radius: 0.5em;
   background-color: #eeeeee;
   border-color: #d2232a;
   border-width: 0em; 
   border-style: solid;
   /* uLshadow: none: navigation */   
   box-shadow: none;
   /* uLdef: uLnavigation: landmarkdef */   
   /* uLadd */
   border-right-width: 0.2em!important;
}

.uLmainnavigation>.uLdesign span span {
   /* uLimage: uLnavigation: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLmainnavigation>.uLdesign span span span {
   /* uLimage: uLnavigation: topEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation>.uLdesign {
   /* uLimage: uLnavigation: centerStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation>.uLdesign span {
   /* uLimage: uLnavigation: centerEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation>.uLdesign span span span span {
   /* uLimage: uLnavigation: bottomStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation>.uLdesign span span span span span {
   /* uLimage: uLnavigation: bottomEnd: {"src":""} */
	background-image: none;
}

.uLmainnavigation h1,
.uLmainnavigation h2,
.uLmainnavigation h3 {
   margin: 0;
   padding: 0;
   /* uLdef: uLnavigationhead: textdef */   
   font-weight: bold;
   font-size: 1.2em;
   line-height: 1.3em;
   padding-bottom: 0.3em;
   padding-right: 0.7em;
   /* uLadd */
   /* uLshadow: navigationhead: uLnavigationhead */   
   text-shadow: 0.1em 0.2em 0.2em rgba( 255, 255, 255, 1.0 );
   /* uLmirror: navigation: font-color */
   color: #d2232a;
}

/* classes for buttons **********************************************/

button.uLbutton:active:after
, button.uLbutton.uLactive:after {
   /* uLmirror: uLmainButton: font-color */
   color: #ffffff;
}

button.uLbutton {
   /* uLdesign: mainButton: uLmainButton */   
   color: #ffffff;
   border-radius: 0.5em;
   background-color: #d2232a;
   border-color: #d2232a;
   border-width: 0; 
   border-style: solid;
   /* uLshadow: inertButtons: mainButton */   
   box-shadow: 0.2em 0.2em 0.4em rgba( 42, 42, 42, 1.0 );
}
.uLdoublebutton .uLbutton.uLtop:hover
, button.uLbutton {
   margin: 0;
   /* uLdef: uLmainButton: framedef */
   margin-right: 0.9em;    
   margin-bottom: 0.9em;
   /* uLadd */   
}
button.uLbutton:hover
, button.uLbutton:active
, button.uLbutton:focus
, button.uLbutton.uLfocused {
   /* uLdef: uLmainButtonFocus: buttondef */   
   margin-left: 0.1em;
   margin-top: 0.2em;
   margin-right: 0.8em;    
   margin-bottom: 0.7em;    
   /* uLadd */   
   /* uLshadow: activeButtons: uLmainButtonFocus */   
   box-shadow: 0.1em 0.1em 0.2em rgba( 42, 42, 42, 1.0 )!important;
}

.uLbutton.uLleft, .uLbutton.uLright {
   /* uLmirror: uLmainButtonFocus: x-px */
   width: calc( 50% - ( 0.1em * 0.5 ))!important;
}
.uLbutton.uLright:hover {
   /* else it's not moving... */
   /* uLmirror: uLmainButtonFocus: x-px */
   margin-right: -0.1em!important;
}

button.uLbutton>span>span>span>span>span {
   margin: 0;
   /* uLdef: uLmainButton: framedef */   
   padding-left: 0.8em;
   padding-top: 0.4em;
   padding-right: 0.8em;
   padding-bottom: 0.4em;
}

button.uLbutton>span>span>span>span>span>span {
   margin: 0;
   /* uLdef: uLmainButtonFocus: buttondef */   
   font-size: 1.0em;
   line-height: 1.2em;
   font-weight: bold;
}

button.uLbutton>span>span {
   margin: 0;
   /* uLimage: uLmainButton: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
button.uLbutton>span>span>span {
   margin: 0;
   /* uLimage: uLmainButton: topEnd: {"src":""} */
	background-image: none;
}
button.uLbutton {
   /* uLimage: uLmainButton: centerStart: {"src":""} */
	background-image: none;
}
button.uLbutton>span {
   margin: 0;
   /* uLimage: uLmainButton: centerEnd: {"src":""} */
	background-image: none;
}
button.uLbutton>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainButton: bottomStart: {"src":""} */
	background-image: none;
}
button.uLbutton>span>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainButton: bottomEnd: {"src":""} */
	background-image: none;
}

button.uLbutton:hover>span>span
, button.uLbutton:active>span>span
, button.uLbutton:focus>span>span
, button.uLbutton.uLfocused>span>span {
   margin: 0;
   /* uLimage: uLmainButtonFocus: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
button.uLbutton:hover>span>span>span
, button.uLbutton:active>span>span>span
, button.uLbutton:focus>span>span>span
, button.uLbutton.uLfocused>span>span>span {
   margin: 0;
   /* uLimage: uLmainButtonFocus: topEnd: {"src":""} */
	background-image: none;
}
button.uLbutton:hover
, button.uLbutton:active
, button.uLbutton:focus
, button.uLbutton.uLfocused {
   /* uLimage: uLmainButtonFocus: centerStart: {"src":""} */
	background-image: none;
}
button.uLbutton:hover>span
, button.uLbutton:active>span
, button.uLbutton:focus>span
, button.uLbutton.uLfocused>span {
   margin: 0;
   /* uLimage: uLmainButtonFocus: centerEnd: {"src":""} */
	background-image: none;
}
button.uLbutton:hover>span>span>span>span
, button.uLbutton:active>span>span>span>span
, button.uLbutton:focus>span>span>span>span
, button.uLbutton.uLfocused>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainButtonFocus: bottomStart: {"src":""} */
	background-image: none;
}
button.uLbutton:hover>span>span>span>span>span
, button.uLbutton:active>span>span>span>span>span
, button.uLbutton:focus>span>span>span>span>span
, button.uLbutton.uLfocused>span>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainButtonFocus: bottomEnd: {"src":""} */
	background-image: none;
}

.uLmainnavigation a.uLbutton {
   margin: 0;
   /* uLdesign: mainNaviButton: uLmainNaviButton */   
   color: #ffffff;
   border-radius: 0.5em;
   background-color: #d2232a;
   border-color: #d2232a;
   border-width: 0; 
   border-style: solid;
   /* uLshadow: inertButtons: mainNaviButton */
   box-shadow: 0.2em 0.2em 0.4em rgba( 42, 42, 42, 1.0 );
   /* uLdef: uLmainNaviButton: framedef */   
   margin-right: 0.9em;    
   margin-bottom: 0.9em;
   /* uLadd */
   width:100%;
}
.uLmainnavigation a.uLbutton:hover
, .uLmainnavigation a.uLbutton:active
, .uLmainnavigation a.uLbutton:focus
, .uLmainnavigation a.uLbutton.uLfocused {
   /* uLdef: uLmainNaviButtonFocus: buttondef */   
   margin-left: 0.1em;
   margin-top: 0.2em;
   margin-right: 0.8em;    
   margin-bottom: 0.7em;    
   /* uLadd */   
   text-shadow: none;
   /* uLshadow: mainNaviButtonFocus: uLmainNaviButtonFocus */   
   box-shadow: 0.1em 0.1em 0.2em rgba( 42, 42, 42, 1.0 )!important;
}
.uLmainnavigation a.uLbutton.uLdisabled:hover>span>span>span>span>span
, .uLmainnavigation a.uLbutton>span>span>span>span>span {
   overflow-wrap: break-word;
   word-wrap: break-word;
   /* uLdef: uLmainNaviButton: framedef */   
   padding-left: 0.8em;
   padding-top: 0.6em;
   padding-right: 0.8em;
   padding-bottom: 0.6em;
}

.uLmainnavigation a.uLbutton.uLdisabled:hover>span>span>span>span>span>span
, .uLmainnavigation a.uLbutton>span>span>span>span>span>span {
   /* uLdef: uLmainNaviButtonFocus: buttondef */   
   font-size: 1.0em;
   line-height: 1.2em;
   font-weight: bold;
}
.uLmainnavigation a.uLbutton>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButton: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLmainnavigation a.uLbutton>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButton: topEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton {
   /* uLimage: uLmainNaviButton: centerStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton>span {
   margin: 0;
   /* uLimage: uLmainNaviButton: centerEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButton: bottomStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton>span>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButton: bottomEnd: {"src":""} */
	background-image: none;
}

.uLmainnavigation a.uLbutton:hover>span>span
, .uLmainnavigation a.uLbutton:active>span>span
, .uLmainnavigation a.uLbutton:focus>span>span
, .uLmainnavigation a.uLbutton.uLfocused>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonFocus: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLmainnavigation a.uLbutton:hover>span>span>span
, .uLmainnavigation a.uLbutton:active>span>span>span
, .uLmainnavigation a.uLbutton:focus>span>span>span
, .uLmainnavigation a.uLbutton.uLfocused>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonFocus: topEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton:hover
, .uLmainnavigation a.uLbutton:active
, .uLmainnavigation a.uLbutton:focus
, .uLmainnavigation a.uLbutton.uLfocused {
   /* uLimage: uLmainNaviButtonFocus: centerStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton:hover>span
, .uLmainnavigation a.uLbutton:active>span
, .uLmainnavigation a.uLbutton:focus>span
, .uLmainnavigation a.uLbutton.uLfocused>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonFocus: centerEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton:hover>span>span>span>span
, .uLmainnavigation a.uLbutton:active>span>span>span>span
, .uLmainnavigation a.uLbutton:focus>span>span>span>span
, .uLmainnavigation a.uLbutton.uLfocused>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonFocus: bottomStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton:hover>span>span>span>span>span
, .uLmainnavigation a.uLbutton:active>span>span>span>span>span
, .uLmainnavigation a.uLbutton:focus>span>span>span>span>span
, .uLmainnavigation a.uLbutton.uLfocused>span>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonFocus: bottomEnd: {"src":""} */
	background-image: none;
}

.uLmainnavigation a.uLbutton.uLactive {
   box-sizing:border-box;
   display: block;
   position: relative;
   margin: 0;
   left: auto;
   right: auto;
   top: auto;
   bottom: auto;
   /* uLdesign: mainNaviButtonActive: uLmainNaviButtonActive */   
   color: #787d8d;
   border-radius: 1.2em;
   background-color: #ffffff;
   border-color: #d2232a;
   border-width: 0.2em; 
   border-style: solid;
   /* uLshadow: none: mainNaviButtonActive */
   box-shadow: none;
   /* uLdef: uLmainNaviButtonActive: zonedef */   
   width: 14.1em;
   height: auto;
   top: -3px;
   right: 0;
   margin-top: 0.2em;
   margin-right: 0;
   /* uLadd */
   text-align: right;
border-right-color: #ffffff;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.uLmainnavigation a.uLbutton.uLactive>span>span>span>span>span {
   margin: 0!important;
   /* uLdef: uLmainNaviButtonActive: zonedef */   
   padding-top: 0.7em;
   padding-left: 0.4em;
   padding-right: 0;
   padding-bottom: 0.7em;
}
.uLmainnavigation a.uLbutton.uLactive>span>span>span>span>span>span {
   /* uLdef: uLmainNaviButtonActive: zonedef */   
   font-size: 1.2em;
   line-height: 1.2em;
   font-weight: bold;
}
.uLmainnavigation a.uLbutton.uLactive>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonActive: topStart: {"src":"","w":0,"h":0,"dim":[0,0,0,0,0,0,0,0,0,0,0,0]} */
	background-image: none;
}
.uLmainnavigation a.uLbutton.uLactive>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonActive: topEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton.uLactive {
   margin: 0;
   /* uLimage: uLmainNaviButtonActive: centerStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton.uLactive>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonActive: centerEnd: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton.uLactive>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonActive: bottomStart: {"src":""} */
	background-image: none;
}
.uLmainnavigation a.uLbutton.uLactive>span>span>span>span>span {
   margin: 0;
   /* uLimage: uLmainNaviButtonActive: bottomEnd: {"src":""} */
	background-image: none;
}

body.uLexplainAll .uLmainnavigation a.uLhasInform:after {
   /* uLmirror: uLmainNaviButton: font-color */
   color: #ffffff;
}

/* definitions for modal dialogs */
.uLmodal.uLshow:after {     /* diagonal stripes */
   background: repeating-linear-gradient(
      135deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
   );
   opacity: 0.5;
}

.uLmodal >div {
   font-size: 1.0em;
   /* uLdesign: modalnorm: uLmodalnorm */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #629ef7;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: modalnorm */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLmodalnorm: framedef */
   margin-right: 1.2em;
   margin-bottom: 0.8em;
   /* uLadd */
}
.uLmodal.uLform,
.uLmodal .uLcontent {
   /* uLdef: uLmodalnorm: framedef */
   padding-left: 1.2em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal >div:before {
   font-size: 1.0em;
   left: 0;
   top: 0;
}
.uLmodal.uLerror >div {
   /* uLdesign: error: uLerror */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #ff0000;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: error */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLerror: framedef */    
   /* uLadd */
}
.uLmodal.uLerror .uLcontent {
   /* uLdef: uLerror: framedef */
   padding-left: 4.9em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal.uLsuccess >div {
   /* uLdesign: success: uLsuccess */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #aacb6a;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: success */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLsuccess: framedef */    
   /* uLadd */
}
.uLmodal.uLsuccess .uLcontent {
   /* uLdef: uLsuccess: framedef */    
   padding-left: 4.9em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal.uLstatus >div,
.uLmodal.uLhint >div {
   /* uLdesign: hint: uLhint */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #febc5b;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: hint */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLhint: framedef */    
   /* uLadd */
}
.uLmodal.uLstatus .uLcontent,
.uLmodal.uLhint .uLcontent {
   /* uLdef: uLhint: framedef */    
   padding-left: 4.9em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal.uLalert >div {
   /* uLdesign: alert: uLalert */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #629ef7;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: alert */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLalert: framedef */    
   /* uLadd */
}
.uLmodal.uLalert .uLcontent {
   /* uLdef: uLalert: framedef */    
   padding-left: 4.9em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal.uLprompt >div {
   /* uLdesign: alert: uLprompt */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #629ef7;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: alert */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLprompt: framedef */    
   /* uLadd */
}
.uLmodal.uLprompt .uLcontent {
   /* uLdef: uLprompt: framedef */    
   padding-left: 4.9em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal.uLconfirm >div {
   /* uLdesign: alert: uLconfirm */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #ffffff;
   border-color: #629ef7;
   border-width: 0.5em; 
   border-style: double;
   /* uLshadow: dialogs: alert */
   box-shadow: 0.6em 0.6em 0.6em rgba( 42, 42, 42, 0.8 );
   /* uLdef: uLconfirm: framedef */    
   /* uLadd */
}
.uLmodal.uLconfirm .uLcontent {
   /* uLdef: uLconfirm: framedef */    
   padding-left: 4.9em;
   padding-top: 1.1em;
   padding-right: 0.8em;
   padding-bottom: 0.8em;
}
.uLmodal.uLerror >div:before {
   /* uLdef: uLerrorlegend: modaldef */    
   background-color: #ffffff;
   font-style: normal;
   content: '✘';
   font-size: 5.0em;
   color: #ff0000;
   margin-top: 0.8em;
   margin-left: 0.2em;
   /* uLadd */
}
.uLmodal.uLsuccess >div:before {
   /* uLdef: uLsuccesslegend: modaldef */    
   background-color: #ffffff;
   font-style: normal;
   content: '✔︎';
   font-size: 5.0em;
   color: #aacb6a;
   margin-top: 0.4em;
   margin-left: 0.2em;
   /* uLadd */
}
.uLmodal.uLstatus >div:before,
.uLmodal.uLhint >div:before {
   /* uLdef: uLhintlegend: modaldef */    
   background-color: #ffffff;
   font-style: normal;
   content: '❢';
   font-size: 5.0em;
   color: #febc5b;
   margin-top: 0.4em;
   margin-left: 0.2em;
   /* uLadd */
}

.uLmodal.uLalert >div:before {
   /* uLdef: uLalertlegend: modaldef */    
   background-color: #ffffff;
   font-style: normal;
   content: '❢';
   font-size: 5.0em;
   color: #629ef7;
   margin-top: 0.8em;
   margin-left: 0.2em;
   /* uLadd */
}
.uLmodal.uLprompt >div:before {
   /* uLdef: uLpromptlegend: modaldef */    
   background-color: #ffffff;
   font-style: normal;
   content: '✏️';
   font-size: 3.5em;
   color: #629ef7;
   margin-top: 1.3em;
   margin-left: 0.3em;
   /* uLadd */
}
.uLmodal.uLconfirm >div:before {
   /* uLdef: uLconfirmlegend: modaldef */    
   background-color: #ffffff;
   font-weight: bold;
   content: '?';
   font-size: 5.0em;
   color: #629ef7;
   margin-top: 0.9em;
   margin-left: 0.2em;
   /* uLadd */
}

.uLmodal .uLdragger {
   /* uLmirror: uLmodalnorm: frame */ 
   background-color: #629ef7;
}
.uLmodal.uLerror .uLdragger {
   /* uLmirror: uLerror: frame */ 
   background-color: #ff0000;
}
.uLmodal.uLsuccess .uLdragger {
   /* uLmirror: uLsuccess: frame */ 
   background-color: #aacb6a;
}
.uLmodal.uLstatus .uLdragger,
.uLmodal.uLhint .uLdragger {
   /* uLmirror: uLhint: frame */ 
   background-color: #febc5b;
}

.uLmodal.uLalert .uLdragger {
   /* uLmirror: uLalert: frame */ 
   background-color: #629ef7;
}

.uLmodal.uLprompt .uLdragger {
   /* uLmirror: uLprompt: frame */ 
   background-color: #629ef7;
}

.uLmodal.uLconfirm .uLdragger {
   /* uLmirror: uLconfirm: frame */ 
   background-color: #629ef7;
}
.uLmodal .uLbuttonRow {
   /* uLdef: uLbuttonRow: background */   
   background-color: #ffffff;
   /* uLshadow: buttonRow: uLbuttonRow */
   box-shadow: 0 -0.4em 0.8em rgba( 50, 50, 50, 0.6 );
}

/* because helpText is hint and has dragger */
#helpTxtuL__modal__ >div:before {
   /* uLmirror: uLalert: y-px */ 
   margin-top: 0.8em;
}

/* *******************************************
 * definitions for forms of site
 * ******************************************/
body.uLexplainNone .uLmodal.uLhint .uLinform,
body.uLexplainLess .uLmodal.uLhint .uLinform,
body.uLexplainNone .uLmodal.uLerror .uLinform,
body.uLexplainLess .uLmodal.uLerror .uLinform,
body.uLexplainAll .uLinform {
   /* uLdesign: inform: uLinform */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #f2fcff;
   border-color: #000001;
   border-width: 0; 
   border-style: solid;
   /* uLshadow: none: inform */
   box-shadow: none;
   /* uLdef: uLinform: framedef */   
   margin-right: 0;
   margin-bottom: 0.8em;
   padding-left: 1.4em;
   padding-top: 0.8em;
   padding-right: 0.8em;
   /* uLadd */
}
body.uLexplainAll .uLexplain {
   /* uLdesign: explain: uLexplain */     
   color: #000001;
   border-radius: 0.6em;
   background-color: #f2fcff;
   border-color: #000001;
   border-width: 0;
   border-style: solid;
   /* uLshadow: none: explain */
   box-shadow: none;
   /* uLdef: uLexplain: framedef */   
   margin-right: 0;
   margin-bottom: 1.4em;
   padding-left: 1.4em;
   padding-top: 0.8em;
   padding-right: 0.8em;
   /* uLadd */
}
body.uLexplainAll .uLexplain {
   /* uLmirror: inform: bottom */
   margin-top: calc( 0.8em * -1 );
}

.uLinform:before {
   box-sizing: border-box;
   /* uLdesign: informlegend: uLinformlegend */     
   color: #000001;
   border-radius: 0;
   background-color: transparent;
   border-color: #555555;
   border-width: 0;
   border-style: solid;
   /* uLshadow: none: informlegend */
   box-shadow: none;
   /* uLdef: uLinformlegend : zonedef */   
   content: " ";
   top: 0%;
   left: 0;
   margin-top: 0.6em;
   margin-left: 0.4em;
   width: 1.6em;
   height: 90%;
   padding-left: 0;
   padding-top: 0;
   padding-right: 0;
   padding-bottom: 0;
   font-size: 1.0em;
   line-height: 1.2em;
   font-style: normal;
   /* uLadd */
   border-left: 2px dashed #AA0000!important;
}
.uLexplain:before {
   box-sizing: border-box;
   /* uLdesign: explainlegend: uLexplainlegend */     
   color: #000001;
   border-radius: 0;
   background-color: transparent;
   border-color: #555555;
   border-width: 0;
   border-style: solid;
   /* uLshadow: none: explainlegend */
   box-shadow: none;
   /* uLdef: uLexplainlegend : zonedef */   
   content: " ";
   top: 0;
   left: 0;
   margin-top: 0.6em;
   margin-left: 0.4em;
   width: 1.6em;
   height: 90%;
   padding-left: 0;
   padding-top: 0;
   padding-right: 0;
   padding-bottom: 0;
   font-size: 1.0em;
   line-height: 1.2em;
   font-style: normal;
   /* uLadd */
   border-left: 2px dotted #AA0000!important;
}

body.uLexplainLess #uLfastfeeder .uLinform,
body.uLexplainAll .uLmainnavigation a+.uLinform,
body.uLexplainLess .uLmodal .uLinform,
body.uLexplainLess form .uLinform,
body.uLexplainLess .uLmainnavigation .uLinform,
body.uLexplainLess .uLmainContent .uLinform {
   /* uLdesign: informTip: uLinformLess */     
   color: #666666;
   border-radius: 0.9em;
   background-color: #ebf2f4;
   border-color: transparent;
   border-width: 0.2em; 
   border-style: solid;
   /* uLshadow: none: informTip */
   box-shadow: none;
   /* uLdef: uLinformLess: framedef */   
   margin-right: 1.5em;
   margin-bottom: 1.0em;
   padding-left: 1.5em;
   padding-top: 1.0em;
   padding-right: 0.8em;
}
.uLinform p, .uLexplain p, .uLinform li, .uLexplain li {
   /* uLdef: uLinform: textdef */   
   color: #666666;
   font-style: normal;
   font-size: 1.0em;
   line-height: 1.4em;
   padding-bottom: 0.8em;
   padding-right: 0;
   /* uLadd */
   /* uLshadow: none: uLinform */   
   text-shadow: none;
}

.uLmodal form[data-ul] > fieldset>div:after {
   background-image: linear-gradient(to left
      , rgba(226,229,230, 1), rgba(226,229,230, 0) /* #E2E5E6 */
   );
}

.uLmainContent form {
   /* uLdesign: formBack: uLform */   
   color: #000001;
   border-radius: 0.5em;
   background-color: #d8dcec;
   border-color: #8c909e;
   border-width: 0.1em; 
   border-style: solid;
   /* uLshadow: none: formBack */   
   box-shadow: none;
   /* uLdef: uLform: framedef */   
   margin-right: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-left: 1em;
   padding-bottom: 0;
   /* uLadd */
   /* uLmirror: uLfs0r: gap */
   padding-right: 1.2em;
}

/* REMARK: It is used a trick to solve a box-sizing: border-box problem!      */
/* To ensure a clean formular scaling on different skins the relative element */
/* width (defined by users) needs to include the distance to the next fieldset*/
/* or div containered element: the rightMargin (gap). No box-sizing supports  */
/* this! SOLUTION: the user given width is defined in the style tag of the    */
/* affected element as calc variable: --ulwidth and used as base to substract */
/* the mirrored marginRight value to calculate the searched width.            */

/* Fieldsets */
form fieldset {
   /* uLdesign: fieldset: uLfs0r */   
   color: #000001;
   border-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-width: 0.1em; 
   border-style: outset;
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs0r: framedef */   
   margin-right: 0.5em;
   margin-bottom: 1.5em;
   padding-top: 1.4em;
   padding-left: 1.2em;
   padding-bottom: 0.5em;
   /* uLadd */
   /* uLmirror: uLfs1r: gap */
   width: calc( -1.2em + var(--ulwidth,100%));
}
form fieldset fieldset {
   /* uLdesign: fieldset: uLfs1r */   
   color: #000001;
   border-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-width: 0.1em; 
   border-style: outset;
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs1r: framedef */   
   margin-right: 0.5em;
   margin-bottom: 1.5em;
   padding-top: 1.5em;
   padding-left: 1.0em;
   padding-bottom: 0em;
   /* uLadd */
   /* uLmirror: uLfs2r: gap */
   width: calc( -1.2em + var(--ulwidth,100%));
}
form fieldset fieldset fieldset {
   /* uLdesign: fieldset: uLfs2r */   
   color: #000001;
   border-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-width: 0.1em; 
   border-style: outset;
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs2r: framedef */   
   margin-right: 0.5em;
   margin-bottom: 1.5em;
   padding-top: 1.5em;
   padding-left: 1.2em;
   padding-bottom: 0em;
   /* uLadd */
   /* uLmirror: uLfs3r: gap */
   width: calc( -1.2em + var(--ulwidth,100%));
}
form fieldset fieldset fieldset fieldset {
   /* uLdesign: fieldset: uLfs3r */   
   color: #000001;
   border-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-width: 0.1em; 
   border-style: outset;
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs3r: framedef */   
   margin-right: 1.2em;
   margin-bottom: 0.6em;
   padding-top: 1.4em;
   padding-left: 1.6em;
   padding-bottom: 0.8em;
   /* uLadd */
   /* uLmirror: uLfs4r: gap */
   width: calc( -1.2em + var(--ulwidth,100%));
}

form fieldset fieldset fieldset fieldset fieldset {
   /* uLdesign: fieldset: uLfs4r */   
   color: #000001;
   border-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-width: 0.1em; 
   border-style: outset;
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs4r: framedef */   
   margin-right: 1.2em;
   margin-bottom: 0.6em;
   padding-top: 1.4em;
   padding-left: 1.6em;
   padding-bottom: 0.8em;
   /* uLadd */
   /* uLmirror: uLfs4r: gap */
   width: calc( -1.2em + var(--ulwidth,100%));
}

.uLmodal form[data-ul] fieldset {
   /* uLmirror: uLfs0r: top */   
   margin-top: 1.6em;
}

fieldset > div {
   box-sizing:border-box;
   margin: 0;
   /* REMARK: couldn't figger out need of !important on paddings! */
   /* uLdesign: none: uLinputFrame */     
   color: #000001;
   border-radius: 0;
   background-color: transparent;
   border-color: transparent;
   border-width: 0; 
   border-style: solid;
   /* uLshadow: none: none */
   box-shadow: none;
   /* uLdef: uLinputFrame: framedef */   
   margin-left: 0;
   margin-top: 0;
   margin-right: 1.2em;
   padding-top: 0.3em!important;
   padding-left: 0.5em!important;
   padding-bottom: 0.3em!important;
   /* uLadd */
}
fieldset > div {
   /* uLmirror: uLinputFrame: gap */
   width: calc( -1.2em + var(--ulwidth));
}

fieldset.uLinline { padding-right: 0!important; }
fieldset.uLinline:last-child { margin-right: 0!important; }

.uLmodal form[data-ul]>fieldset > div div,
fieldset.uLinline > div {
   padding-left: 1.4em!important;
   padding-top: 0!important;
   padding-right: 0!important;
   /* uLdef: uLinputFrame: framedef */   
   margin-bottom: 0.6em;
}
/* here is a inconsistency to ensure the right width of cover div elementd */
.uLmodal form[data-ul]>fieldset > div div,
fieldset.uLinline > div {
   margin-right: 0!important;
   /* uLmirror: uLinputFrame: gap */
   padding-right: 1.2em;
}
fieldset > div + fieldset {
   /* uLmirror: uLfs0r: top */
   margin-top: 0.6em;  
}

/* FieldsetLegends */
form fieldset legend {
   border-bottom-width: 0!important; 
   /* uLdesign: fieldset: uLfs0l */   
   color: #000001;
   border-top-left-radius: 0.2em;
   border-top-right-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-style: outset;
   border-width: 0.1em; 
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs0l: zonedef */   
   top: -1.0em;
   left: 1.0em;
   margin-top: 0;
   margin-left: 0;
   width: auto;
   height: auto;
   padding-top: 0.1em;
   padding-left: 0.8em;
   padding-right: 0.8em;
   padding-bottom: 0;
   font-size: 1.2em;
   line-height: 1.2em;
   font-style: normal;
   /* uLadd */
   border-left-width: 0;
   border-right-width: 0;
}
form fieldset fieldset legend  {
   border-bottom-width: 0!important; 
   /* uLdesign: fieldset: uLfs1l */   
   color: #000001;
   border-top-left-radius: 0.2em;
   border-top-right-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-style: outset;
   border-width: 0.1em; 
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs1l: zonedef */   
   top: -0.8em;
   left: 0.6em;
   margin-top: 0;
   margin-left: 0;
   width: auto;
   height: auto;
   padding-top: 0;
   padding-left: 0.6em;
   padding-right: 0.4em;
   padding-bottom: 0;
   font-size: 1.0em;
   line-height: 1.2em;
   font-weight: bold;
   /* uLadd */
   border-left-width: 0;
   border-right-width: 0;
}
form fieldset fieldset fieldset legend {
   border-bottom-width: 0!important; 
   /* uLdesign: fieldset: uLfs2l */   
   color: #000001;
   border-top-left-radius: 0.2em;
   border-top-right-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-style: outset;
   border-width: 0.1em; 
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs2l: zonedef */   
   top: -0.8em;
   left: 0.6em;
   margin-top: 0;
   margin-left: 0;
   width: auto;
   height: auto;
   padding-top: 0;
   padding-left: 0.6em;
   padding-right: 0.4em;
   padding-bottom: 0;
   font-size: 1.0em;
   line-height: 1.2em;
   font-style: normal;
   /* uLadd */
   border-left-width: 0;
   border-right-width: 0;
}
form fieldset fieldset fieldset fieldset legend {
   border-bottom-width: 0!important; 
   /* uLdesign: fieldset: uLfs3l */   
   color: #000001;
   border-top-left-radius: 0.2em;
   border-top-right-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-style: outset;
   border-width: 0.1em; 
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs3l: zonedef */   
   top: -0.8em;
   left: 0.6em;
   width: auto;
   height: auto;
   margin-top: 0;
   margin-left: 0;
   padding-top: 0;
   padding-left: 0.4em;
   padding-right: 0.4em;
   padding-bottom: 0;
   font-size: 1.0em;
   line-height: 1.2em;
   font-style: normal;
   /* uLadd */
   border-left-width: 0;
   border-right-width: 0;
}

form fieldset fieldset fieldset fieldset fieldset legend {
   border-bottom-width: 0!important; 
   /* uLdesign: fieldset: uLfs4l */   
   color: #000001;
   border-top-left-radius: 0.2em;
   border-top-right-radius: 0.2em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-style: outset;
   border-width: 0.1em; 
   /* uLshadow: none: fieldset */
   box-shadow: none;
   /* uLdef: uLfs4l: zonedef */   
   top: -0.8em;
   left: 0.6em;
   width: auto;
   height: auto;
   margin-top: 0;
   margin-left: 0;
   padding-top: 0;
   padding-left: 0.4em;
   padding-right: 0.4em;
   padding-bottom: 0;
   font-size: 1.0em;
   line-height: 1.2em;
   font-style: normal;
   /* uLadd */
   border-left-width: 0;
   border-right-width: 0;
}

.uLpicture:before { 
   /* uLdef: uLpicture: icondef */    
   width: 4.0em; 
   height: 4.0em;
   /* uLdesign: picture: uLpicture */   
   color: transparent;
   border-radius: 2.0em;
   background-color: transparent;
   border-color: #ffffff;
   border-width: 0.15em; 
   border-style: solid;
   /* uLshadow: none: picture */
   box-shadow: none;
} 
.uLicon:before { 
   /* uLdef: uLicon: icondef */    
   --ul-scale: 25; 
   --uliconwidth: 2.9em; 
   --uliconheight: 2.9em; 
   /* uLdesign: icon: uLicon */   
   color: #000001;
   border-radius: calc( 1.5em / var(--ul-scale) * 10); 
   background-color: #ffffff;
   border-color: #ffffff;
   border-width: 0.1em; 
   border-style: solid;
   /* uLshadow: none: icon */
   box-shadow: none;
} 

/* standard elements: input, select, textarea (not as radio- , button or checkbox */
fieldset .uLisCover 
, fieldset .uLisCover input
, fieldset .uLisCover select
, fieldset div > select
, fieldset div > textarea
, fieldset div > input {
   /* uLdef: uLinput: inputdef */   
   height: 2.4em;
}
textarea[rows="1"] {
   /* uLmirror: uLinput: height */
   height: 2.4em;
}
textarea[rows="2"]
, fieldset div > select[size="2"] + .uLisCover {
   /* uLmirror: uLinput: height */
   height: calc( 2.4em * 1.5 );
}
textarea[rows="3"]
, fieldset div > select[size="3"] + .uLisCover {
   /* uLmirror: uLinput: height */
   height: calc( 2.4em * 2.5 );
}
textarea[rows="4"]
, fieldset div > select[size="4"] + .uLisCover {
   /* uLmirror: uLinput: height */
   height: calc( 2.4em * 3.5 );
}
textarea[rows="5"]
, fieldset div > select[size="5"] + .uLisCover {
   /* uLmirror: uLinput: height */
   height: calc( 2.4em * 4.5 ); 
}

fieldset label {
   /* uLdef: uLinput: inputdef */
   padding-bottom: 0.2em;
   font-style: normal;
   color: #000001;
}

.uLcalendar button.uLup {
   /* uLmirror: uLinput: font-color */
   border-bottom-color: #000001;
}
.uLcalendar button.uLdown {
   /* uLmirror: uLinput: font-color */
   border-top-color: #000001;
}

.uLisCover span.uLbutton
, fieldset .uLisCover input
, fieldset .uLisCover select
, fieldset .uLisCover textarea
, fieldset div > textarea
, fieldset div > select
, fieldset div > input {
   /* uLdesign: input: uLinput */   
   color: #000001;
   border-radius: 0em;
   background-color: #ffffff;
   border-color: #aaaaaa;
   border-style: outset;
   border-width: 0.2em; 
   /* uLshadow: none: input */
   box-shadow: none;
   /* uLmirror: uLstatus: border */
   border-left-width: 0.3em;
}
.uLisCover span.uLbutton {
   border-left-width: 0!important;   
}
#uLselector, #uLjumper, #uLfastfeeder {
   /* uLmirror: uLfs0r: background */ 
   background-color: #e2e5e6;
   /* uLmirror: uLfs0r: frame */
   border-color: #555555;
   /* uLmirror: uLfs0r: variants */
   border-style: outset;
   /* uLmirror: uLfs0r: border */
   border-width: 0.2em;
   /* uLmirror: uLfs0l: font-color */
   color: #333355;
}
#uLselector {
   /* uLmirror: uLfs0r: radius */
   border-bottom-left-radius: 9px;
}
#uLjumper {
   /* uLmirror: uLfs0r: radius */
   border-top-left-radius: 9px;
}
#uLfastfeeder {
   /* uLmirror: uLfs0r: radius */
   border-top-right-radius: 9px;
}
#uLsecDragg
#uLhamburger, 
#uLselector button,
#uLfastfeeder button,
#uLjumper button,
form legend button,
.uLmodal .uLcloser,
.uLmodal .uLsizer,
div.uLbutton button,
.uLisCover button {
   /* uLdef: uLinput: inputdef */   
   background-color: #b8bac7;
   border-radius: 0.2em!important;
   /* uLadd */
}

div.uLsearcher:after,
div.uLcompleter:after,
button.uLinvertIcon:after,
.uLpinFold span.uLlocker,
.uLpinFold span.uLallpins,
#uLsecDragg,
#uLhamburger, 
#uLselector button,
#uLfastfeeder button,
#uLjumper button,
div.uLbutton button,
form legend button,
form span.uLisCover button {
   background-repeat: no-repeat;
   /* uLdef: uLinput: inputdef */
   background-size: auto 2.0em;
   /* uLimage: uLinput: image: {"src":"useLib/designs/vorlagen/useLibIconsV1.sw.png"} */
	background-image: url("useLib/designs/vorlagen/useLibIconsV1.sw.png")!important;
}

.uLseparator {
   /* uLdef: uLinput: inputdef */  
   padding-left: 0.3em;
   padding-right: 0.3em;
}
.uLseparator > span {
   /* uLdef: uLinput: inputdef */  
   font-size: 1.2em;
}
div.uLseparator {
   /* uLmirror: uLinput: height */
   margin-bottom: calc( 2.4em / 2 )!important;
}

fieldset div > input
, fieldset div > select
, fieldset div > textarea {
   /* uLmirror: input: radius */
   border-radius: 0em;
}

/* for standard elements: covered; */
fieldset .uLisCover input
, fieldset .uLisCover select
, fieldset .uLisCover textarea
, fieldset .uLisCover span.uLbutton {
   border-radius: 0;   /* it's easier to set 0 and mirror it where nessesary */
}

.uLisCover textarea:first-child
, .uLisCover select:first-child
, .uLisCover input:first-child
, .uLisCover .uLseparator + textarea:nth-child(2)
, .uLisCover .uLseparator + select:nth-child(2)
, .uLisCover .uLseparator + input:nth-child(2) {
   /* uLmirror: input: radius */
   border-top-left-radius: 0em;
   /* uLmirror: input: radius */
   border-bottom-left-radius: 0em;
}
.uLisCover.uLdate span.uLbutton
, .uLisCover textarea:last-child
, .uLisCover select:last-child
, .uLisCover input:last-child
, .uLisCover span.uLbutton:last-child {
   /* uLmirror: input: radius */
   border-top-right-radius: 0em;
   /* uLmirror: input: radius */
   border-bottom-right-radius: 0em;
}

/* for toggleSelect as slide switch */
.uLisCover.uLtoggleSelect input {
   padding-right: 0;
   /* uLdesign: toggle: uLtoggle */   
   color: #000001;
   border-color: transparent;
   border-radius: 1.4em;
   background-color: #e0e0e0;
   border-style: solid;
   border-width: 0.3em; 
   /* uLshadow: none: toggle */
   box-shadow: none;
   /* uLdef: uLtoggle: toggledef */   
   padding-left: 0.1em;
}
.uLisCover.uLtoggleSelect.uLactive input {
   padding-left: 0;
   /* uLmirror: uLtoggle: left */
   padding-right: 0.1em;
}
.uLisCover.uLtoggleSelect span.uLbutton {
   /* uLdef: uLtoggle: toggledef */
   padding-bottom: 0.3em;
}
.uLisCover.uLtoggleSelect button:hover,
.uLisCover.uLtoggleSelect button {
   /* uLdef: uLtoggle: toggledef */   
   height: 1.8em;
   border-color: #bbbbbb;
   border-radius: 1.1em!important;
   background-color: #bbbbbb;
   border-style: solid;
   border-width: 0.3em;
   /* uLadd */
   /* uLmirror: uLtoggle: height */
   width: 1.8em;
}

/* definitions for tab navigation */
ul.uLtabs li a:first-child {
   width: auto;
   /* uLdef: uLtabRow: framedef */   
   margin-right: 0.5em;
   margin-bottom: 0.8em;
   padding-left: 1.8em;
   padding-top: 0.4em;
   padding-right: 0.5em;
   /* uLdesign: tabRow: uLtabRow */   
   color: #666666;
   border-top-left-radius: 0.7em;
   border-top-right-radius: 0.7em;
   background-color: #dddddd;
   border-color: #666666;
   border-style: solid;
   border-width: 0.1em; 
   /* uLshadow: none: tabRow */
   box-shadow: none;
}
ul.uLtabs li:first-child a:first-child {
   /* get same front margin on first tab */
   /* uLmirror: uLtabRow: gap */
   margin-left: 0.5em;
}
ul.uLtabs li a:first-child span span span {
   /* uLdef: uLtabRow: size */   
   font-size: 1.1em;
}
ul.uLtabs li a:first-child {
   border-bottom-width: 0!important;
   /* uLdef: uLtabRow: height */   
   height: 2.5em;
   /* uLmirror: uLtabRow: row */
   padding-right: 0.8em;
}

ul.uLtabs li.uLshow a:first-child+div,
ul.uLtabs li.uLshow a:first-child+form {
   /* uLdef: uLtabContent: framedef */   
   border-radius: 0;
   margin-bottom: 1.2em;
   margin-right: 1.5em;
   padding-top: 0.8em;
   padding-left: 1.8em;
   /* uLmirror: uLtabRow: height */
   margin-top: 2.0em;
   /* uLmirror: uLtabContent: left */
   padding-right: 1.8em;
   /* uLmirror: uLtabContent: gap */
   width: calc( -1.5em + 100% );
}
ul.uLtabs li.uLshow a:first-child,
ul.uLtabs li.uLshow a:first-child+div,
ul.uLtabs li.uLshow a:first-child+form {
   /* uLdesign: tabContent: uLtabContent */   
   color: #000001;
   background-color: #ffffff;
   border-color: #666666;
   border-style: solid;
   border-width: 0.1em; 
   /* uLshadow: none: tabContent */
   box-shadow: none;
}
ul.uLtabs li.uLshow a:first-child {
   z-index: 1;
   /* uLmirror: uLtabRow: border */
   margin-top: 0.1em;
}

/* ******************************************
 * definitions for special elements of useLib
 * *****************************************/
fieldset.uLdynlist:nth-child(2n),
fieldset.uLdynlist:nth-child(2n) legend {
   /* uLdef: uLoddElement: background */   
   background-color: #dddddd;
}

div.uLquote, div.uLexample {
   /* uLdef: uLexampleBlock: background */   
   background-color: #dddddd;
}
div.uLtip {
   /* uLdef: uLtipBlock: background */   
   background-color: #fffdbe;
}
code {
   /* uLdef: uLcodeBlock: background */   
  background-color: #ededed;
}

body.uLexplainAll .uLmainnavigation a.uLhasInform:after,
body.uLexplainLess .uLhasInform:after {
   /* uLdef: uLinfoMark: font-color */   
   color: #ff0000;
}
form div.uLerror {
   /* uLdef: uLerrorInfo: background */   
  background-color: #ffe4a0;
}

.uLFold:before, .uLpinFold:before, .uLlistFold:before {
   /* uLdef: uLfoldMark: font-color */   
   color: #2d4666;
}

.uLyear, .uLmonth, .uLweek, .uLday, .uLlegend h1 {
   /* uLmirror: uLfs0r: background */
   background-color: #e2e5e6;
}

td[headers=sa], td[headers=su]
, td[headers=Sa], td[headers=So]
, .uLsunday {
   /* uLdef: uLsundayMark: background */   
   background-color:#eeeeee;
}
.uLsunday{
   /* uLdef: uLsundayMark: font-color */   
   color: #ff0000;
}
.uLselected {
   /* uLdef: uLselectMark: background */   
   background-color: #ccccff;
}
.uLblocked {
   /* uLdef: uLblockMark: background */   
   background-color: #ffcccc;
}
.uLblocked {
   /* uLdef: uLblockMark: frame */   
   border-color: #ffcccc!important;
}
.uLselected {
   /* uLdef: uLselectMark: frame */   
   border-color: #ccccff!important;
}
.uLtoday {
   /* uLdef: uLdodayMark: frame */   
   border-color: #000001!important;
}
.uLcalendar .uLdisabled {
   /* uLdef: uLdisabledMark: background */   
   background-color: #e6e6e6;
}

.uLmodal a[target="_blank"]:before,
.uLmainContent a[target="_blank"]:before,
.uLmainContent a[href^="http"]:before, /* extern */
a[href]:after {
   background-repeat: no-repeat;
   /* uLimage: uLextern: image: {"src":"useLib/designs/vorlagen/useLibInfoV1.png"} */
	background-image: url("useLib/designs/vorlagen/useLibInfoV1.png");
}

#uLfoot .copy a {
  display: block;
  font-size: 0.7em;
  line-height: 0.7em;
  color: #555555;
  text-align: right;
  vertical-align: top;
  padding-top: 0.1em;
  text-decoration: none;
}
#uLfoot a:before { content: none!important; }

/* layout positions *****************************************/
.uLmainContent a img { border:0px; }

